# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [3]:
from sqlalchemy import create_engine
from getpass import getpass
import pandas as pd
import numpy as np
pswd=getpass()
engine=create_engine(f'mysql+pymysql://root:{pswd}@localhost/temp')

········

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [5]:

temp=pd.read_csv('/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Labs/data/Temp_states.csv')

#### Print `temp`.

In [6]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [8]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         7 non-null      object
 1   State        7 non-null      object
 2   Temperature  7 non-null      float64
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes

In [ ]:
"""
There are 3 columns, City which is object (string?), State which is object as well and Temperature which is float.
"""

#### Select the rows where state is New York.

In [17]:
temp.loc[temp.State=='New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [22]:
temp.loc[temp.State=='New York'].Temperature.agg('mean')

10.74074074074074

#### Which states and cities have a temperature above 15 degrees Celsius?

In [27]:
temp[temp.Temperature>15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [30]:
temp.City[temp.Temperature>15]

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [67]:
temp.City(index=())

TypeError: 'Series' object is not callable

In [57]:
temp.groupby('State').apply(lambda x: print(x) if x.Temperature>15 and x.Temperature<20 else None)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

#### Find the mean and standard deviation of the temperature of each state.

In [73]:
temp.groupby('State').agg(['std','mean'])

            Temperature
                    std       mean
State
Connecticut    1.964186  15.833333
New Jersey     1.571348  21.111111
New York       8.133404  10.740741

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [74]:
employees=pd.read_csv('/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Labs/data/employees.csv')

#### Explore the data types of the `employees` dataframe. Comment your results.

In [79]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Department  500 non-null    object
 1   Education   500 non-null    object
 2   Title       500 non-null    object
 3   Name        500 non-null    object
 4   Years       500 non-null    int64
 5   Salary      500 non-null    int64
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [ ]:
"""
shape = 500 rows, 6 columns
info = no isna, 4 rows object, 2 objects int



"""

#### What's the average salary in this company?

In [ ]:
# your code here

#### What's the highest salary?

In [ ]:
# your code here

#### What's the lowest salary?

In [ ]:
# your code here

#### Who are the employees with the lowest salary?

In [ ]:
# your code here

#### Find all the information about an employee called David.

In [ ]:
# your code here

#### Could you return only David's salary?

In [ ]:
# your code here

#### Print all the rows where job title is associate.

In [ ]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here

In [ ]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here

####  What is the average salary per title?

In [ ]:
# your code here

####  Find the salary quartiles.

In [ ]:
# your code here

#### Is the mean salary different per gender?

In [ ]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here