# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\mailb\\Documents\\Ironhack\\Labs\\module_1\\16. Data-Cleaning\\your-code'

In [3]:
os.chdir("..")
os.getcwd()

'C:\\Users\\mailb\\Documents\\Ironhack\\Labs\\module_1\\16. Data-Cleaning'

#### 4. Import the diabetes csv file

In [7]:
data=pd.read_csv("test_diabetes.csv", sep = ";")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,148.0,72.0,35.0,0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94,28.1,0.167,21.0,0
4,0.0,NaN,40.0,35.0,168,43.1,2.288,NaN,1

In [10]:
data.shape

(768, 9)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               731 non-null    float64
 1   Glucose                   730 non-null    float64
 2   BloodPressure             734 non-null    float64
 3   SkinThickness             734 non-null    float64
 4   Insulin                   717 non-null    object
 5   BMI                       733 non-null    float64
 6   DiabetesPedigreeFunction  728 non-null    float64
 7   Age                       717 non-null    float64
 8   Outcome                   768 non-null    object
dtypes: float64(7), object(2)
memory usage: 54.1+ KB

In [ ]:
""""""
768 rows, 9 columns
Insulin and outcome are "objects"
""""""

In [11]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age
count,731.000000,730.000000,734.000000,734.000000,733.000000,728.000000,717.000000
mean,3.824897,121.152055,69.008174,20.848774,31.979536,0.472702,34.108787
std,3.369400,31.774802,19.496036,15.876665,7.918709,0.331714,16.119730
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,-1.000000
25%,1.000000,99.000000,64.000000,0.000000,27.400000,0.245000,24.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,0.372500,29.000000
75%,6.000000,141.000000,80.000000,32.000000,36.500000,0.624500,41.000000
max,17.000000,198.000000,122.000000,99.000000,67.100000,2.420000,200.000000

In [ ]:
""""""Our observations:
Glucose (min values 0 not possible)
BloodPressure (min values)
SkinThickness (min, perc 25%)
BMI (min)
Age (min and max)""""""

In [13]:
#Missing values
#Missing value rate
null_cols = data.isnull().sum()
drop_perc=round(null_cols[null_cols > 0]/data.shape[0]*100,2)
drop_perc

Pregnancies                 4.82
Glucose                     4.95
BloodPressure               4.43
SkinThickness               4.43
Insulin                     6.64
BMI                         4.56
DiabetesPedigreeFunction    5.21
Age                         6.64
dtype: float64

In [16]:
fill_cols=data.columns[data.isna().sum()>0]
data[fill_cols]=data[fill_cols].fillna('missing')
print(data)

    Pregnancies  Glucose BloodPressure SkinThickness Insulin   BMI  \
0       missing      148            72            35       0  33.6
1             1       85            66            29       0  26.6
2             8      183            64             0       0  23.3
3             1       89            66            23      94  28.1
4             0  missing            40            35     168  43.1
..          ...      ...           ...           ...     ...   ...
763          10      101            76       missing     180  32.9
764           2      122            70            27    Zero  36.8
765           5      121            72            23     112  26.2
766           1      126            60             0    Zero  30.1
767           1  missing            70            31    Zero  30.4

    DiabetesPedigreeFunction      Age Outcome
0                      0.627       50       1
1                      0.351       31       0
2                      0.672       32       1
3                      0.167       21       0
4                      2.288  missing       1
..                       ...      ...     ...
763                    0.171       63       0
764                     0.34       27       0
765                    0.245       30       N
766                    0.349       47       1
767                  missing       23       0

[768 rows x 9 columns]