In [2]:
import pandas as pd
import numpy as np

In [363]:
df=pd.read_csv('/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Labs/data/adult.data', header=None)

In [31]:
df2=df.T.reset_index().T

In [8]:
df[' Male'].value_counts()

 Male      21789
 Female    10771
Name:  Male, dtype: int64

In [80]:
df.loc[df[' Male']==' Female']['50'].describe()

count    10771.000000
mean        36.858230
std         14.013697
min         17.000000
25%         25.000000
50%         35.000000
75%         46.000000
max         90.000000
Name: 50, dtype: float64

In [367]:
df.columns=['age','2','3','4','5','6','7','8','9','10','11','12','13','14','15']

In [368]:
df

,age,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [87]:
df.loc[df[' White']==' Amer-Indian-Eskimo']['50'].describe()

count    311.000000
mean      37.173633
std       12.447130
min       17.000000
25%       28.000000
50%       35.000000
75%       45.500000
max       82.000000
Name: 50, dtype: float64

In [82]:
df.loc[df[' <=50K']==' <=50K']['50'].describe()

count    24718.000000
mean        36.783114
std         14.020397
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: 50, dtype: float64

In [89]:
df[' Married-civ-spouse'].value_counts()

 Married-civ-spouse       14975
 Never-married            10682
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name:  Married-civ-spouse, dtype: int64

In [402]:
df[df[' Married-civ-spouse'].str.contains('Married')][' <=50K'].value_counts()[0:2]

SyntaxError: invalid syntax (<ipython-input-402-77f2d3353755>, line 1)

In [380]:
df

,age,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [404]:
#groupby whether sex male and marital yes then show salary and value counts
df.groupby(df.loc[df['10']==' Male','6'].str.contains(' Ma') )['15'].value_counts()

6      15
False   <=50K    7552
        >50K      697
True    <=50K    7576
        >50K     5965
Name: 15, dtype: int64

In [401]:
df.loc[df['10']==' Male','6'].str.contains(' Ma')

0        False
1         True
2        False
3         True
7         True
         ...
32553    False
32554     True
32555    False
32557     True
32559    False
Name: 6, Length: 21790, dtype: bool

In [150]:
df[df[' 13.1']==99][df[' <=50K']==' >50K'].shape

<ipython-input-150-b4ae9b14a698>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df[' 13.1']==99][df[' <=50K']==' >50K'].shape

(25, 15)

In [369]:
df

,age,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [370]:
df[df['15']==' >50K'][df['14']==' Japan']['age'].describe()

<ipython-input-370-2f1fabc1c412>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['15']==' >50K'][df['14']==' Japan']['age'].describe()

count    24.000000
mean     42.875000
std       6.771504
min      33.000000
25%      37.750000
50%      41.000000
75%      47.250000
max      56.000000
Name: age, dtype: float64

In [375]:
df[df['15']==' >50K'].groupby('age')['13'].max()

age
19    60
21    46
22    70
23    60
24    72
      ..
80    35
81    50
83    55
84    35
90    72
Name: 13, Length: 65, dtype: int64

In [376]:
df

,age,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [379]:
#mean working hour of ppl by revenue from Japan
df[df['14']==' Japan'].groupby('15')['13'].mean()

15
 <=50K    41.000000
 >50K     47.958333
Name: 13, dtype: float64

In [337]:
#from datetime import datetime, timedelta
import datetime
from dateutil.relativedelta import relativedelta

In [184]:
s = "1000 days ago"
parsed_s = [s.split()[:2]]
time_dict = dict((fmt,float(amount)) for amount,fmt in parsed_s)
dt = datetime.timedelta(**time_dict)

In [185]:
dt

datetime.timedelta(days=1000)

In [173]:
past_time = datetime.datetime.now() - dt

In [188]:
past_time

datetime.datetime(2018, 7, 11, 9, 21, 52, 199001)

In [187]:
parsed_s

[['1000', 'days']]

In [239]:
datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%S:%M:%H %d-%m-%Y')
'33:40:23 20-12-2013'

ValueError: time data '1000 days ago' does not match format '%Y-%m-%d %H:%M:%S'

In [348]:
def get_past_date(str_days_ago):
    TODAY = datetime.date.today()
    splitted = str_days_ago.split()
    if len(splitted) == 1 and splitted[0].lower() == 'today':
        return str(TODAY.strftime("%d/%m/%Y"))
    elif len(splitted) == 1 and splitted[0].lower() == 'yesterday':
        date = TODAY - relativedelta(days=1)
        str(date.strftime("%d/%m/%Y"))
        return str(date.strftime("%d/%m/%Y"))
    elif splitted[1].lower() in ['hour', 'hours', 'hr', 'hrs', 'h']:
        date = datetime.datetime.now() - relativedelta(hours=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    elif splitted[1].lower() in ['minutes', 'minute', 'min', 'm']:
        date = datetime.datetime.now() - relativedelta(minutes=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    elif splitted[1].lower() in ['day', 'days', 'd']:
        date = TODAY - relativedelta(days=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    elif splitted[1].lower() in ['wk', 'wks', 'week', 'weeks', 'w']:
        date = TODAY - relativedelta(weeks=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    elif splitted[1].lower() in ['mon', 'mons', 'month', 'months', 'm']:
        date = TODAY - relativedelta(months=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    elif splitted[1].lower() in ['yrs', 'yr', 'years', 'year', 'y']:
        date = TODAY - relativedelta(years=int(splitted[0]))
        date2 = str(date.strftime("%d/%m/%Y"))
        return date2
    else:
        return "Wrong Argument format"

In [349]:
get_past_date('10 days')

'27/03/2021'

In [261]:
TODAY = datetime.date.today()
#splitted = str_days_ago.split()

In [340]:
datetime.datetime.strptime( '%Y-%m-%d')

TypeError: strptime() takes exactly 2 arguments (1 given)

In [341]:
TODAY.isoformat()

'2021-04-06'

In [275]:
date.fromisoformat('2019-12-04')

NameError: name 'date' is not defined

In [317]:
def autocorrect(text):
    today = datetime.datetime.today()
    delta, period = int(text.split()[0]), text.split()[1]
    period = period.rstrip('s') + 's'
    d = {period:delta}
    d = today - datetime.timedelta(**d)
    return d.strftime("%d/%m/%Y")

In [326]:
dlt =1
datetime.datetime.now() - timedelta(weeks = dlt)

ModuleNotFoundError: No module named 'timedelta'

In [361]:
df= pd.Series(range(10,50,5))
df

0    10
1    15
2    20
3    25
4    30
5    35
6    40
7    45
dtype: int64

In [360]:
type(df.map({0:'empty', '10':1, 20:2, '30':3, 40:'4'}).dropna(inplace=True))

pandas.core.series.Series

In [ ]:
df.map({0:'empty', '10':1, 20:2, '30':3, 40:'4'}).dropna(inplace=True)