# Reinforcement 18 Nov

## Functions

How to write a function:
```python
def function_name(mandatory_parameter1, mandatory_parameter2, optional_parameter1=2, optional_parameter2=1):
    """optional description about your function"""
    return (mandatory_parameter1-mandatory_parameter2)**optional_parameter1/optional_parameter2
```

How to call a function:
```python
function_name(variable1, variable2)
```
The above will return a variable that is (variable1 + variable2) ** 2 / 1<br>
Why? Because the optional_parameter1 and optional_parameter2=1 are not supplied when we called the function, therefore it uses the default value we have assigned when we wrote the function.<p>


what happens if I want to supply something for optional_parameter2 but not optional_parameter1?
```python
function_name(variable1, variable2, optional_parameter2=variable3)
```

In [24]:
def test_function(mandatory1, mandatory2, optional1=2, optional2=1):
    return (mandatory1-mandatory2)**optional1/optional2

variable1= 5
variable2= 1
variable3= 3

In [26]:
test_function(variable1, variable2)

16.0

In [27]:
test_function(variable1, variable2, variable3)

64.0

In [28]:
test_function(variable1, variable2, optional2=variable3)

5.333333333333333

## Loops

There are two types for loops for when you need run the same codes more than once.

Loops will always run until a condition is met, i.e. For Loops (when the specified condition is no longer True); While Loops (when all the iterables are done)

### For Loops

For Loops primarily used to loop a set number of times.

```python
for temporary_variable in iterable:
    # do something
```
At each iteration, it will runs the whole code block and starts over again from the top until all iterations are done.

#### enumerate()

A python function that adds a counter to an iterable, in order word it will increments by a value of 1 through each iteration
```python
enumerate(iterable, start=0)
```
The enumerate function requires a mandatory argument, iterable. <br>
The second argument, start, is optional with a default value of 0. It is a value which the counter will start from.<br>
This works well as a counter or as to show index of the iteration
```python
for index, temporary_variable in enumerate(iterable):
    # do something
```

In [29]:
# Exmaple: Everyone who starts with "M" we will add "Mamma mia " in front, and every 3rd name on the list we will add " farfallone" to the end of the name

ironhack = ["Inigo", "Mahshid", "Meitar", "Matthieu", "Ludovica", "Helene", "Chris", "Jiawei", "Yani", "Thomas"]

In [37]:
ironhack[2]

'Meitar'

In [31]:
list(enumerate(ironhack)) # enumerate returns a tuple with (counter, iterated_variable)

[(0, 'Inigo'),
 (1, 'Mahshid'),
 (2, 'Meitar'),
 (3, 'Matthieu'),
 (4, 'Ludovica'),
 (5, 'Helene'),
 (6, 'Chris'),
 (7, 'Jiawei'),
 (8, 'Yani'),
 (9, 'Thomas')]

In [36]:
ironhack[0].startswith("M")

False

In [69]:
start = "Mamma mia "
end = " farfallone"
new_list=[]
# write code here
for idx, name in enumerate(ironhack):
    if name[0].lower()=="m":
        if (idx+1)%3==0:
            new_list.append(start+name+end)
        else:
            new_list.append(start+name)
    elif (idx+1)%3==0:
        new_list.append(name+end)
    else:
        new_list.append(name)
        
print(new_list)

['Chris', 'Helene', 'Inigo farfallone', 'Jiawei', 'Ludovica', 'Mamma mia Mahshid farfallone', 'Mamma mia Matthieu', 'Mamma mia Meitar', 'Thomas farfallone', 'Yani']

#### List Comprehension

A For Loop with only an if... statement, but no else... statement, i.e. used to filter a list
```python
list_comprehension1 = [temporary_variable for temporary_variable in iterable if condition]
# corresponds to:
new_list1=[]
for temporary_variable in iterable:
    if condition:
        new_list1.append(temporary_variable)
```

A For Loop with an if... else... statement
```python
list_comprehension2 = [temporary_variable if condition else temperary_variable+1 for temporary_variable in iterable]
# corresponds to:
new_list2=[]
for temporary_variable in iterable:
    if condition:
        new_list2.append(temporary_variable)
    else:
        new_list2.append(temperary_variable+1)
```

A For Loop with an if... elif... else... statement
```python
list_comprehension3 = [temporary_variable if condition1 else temporary_variable+1 if condition2 else temporary_variable+2 for temporary_variable in iterable]
# corresponds to:
new_list3=[]
for temporary_variable in iterable:
    if condition1:
        new_list3.append(temporary_variable)
    elif:
        new_list3.append(temperary_variable+1)
    else:
        new_list3.append(temperary_variable+2)
```

A For Loop with nested if... else... statement
```python
list_comprehension4 = [temporary_variable if condition1 and condition2 else temporary_variable+1 if condition1 else temporary_variable+2 for temporary_variable in iterable]
# corresponds to:
new_list4=[]
for temporary_variable in iterable:
    if condition1:
        if condition2:
            new_list4.append(temporary_variable)
        else:
            new_list4.append(temporary_variable+1)
    else:
        new_list4.append(temperary_variable+2)
```

In [41]:
# using the example from before...
start = "Mamma mia "
end = " farfallone"
# turning the below code into list_comphresion
new_list=[]
# write code here
for idx, name in enumerate(ironhack):
    if name[0].lower()=="m":
        if (idx+1)%3==0:
            new_list.append(start+name+end)
        else:
            new_list.append(start+name)
    elif (idx+1)%3==0:
        new_list.append(name+end)
    else:
        new_list.append(name)


# below is how to do it with list comprehension
new_list_comprehension=[start+name+end if name[0].lower()=="m" and (idx+1)%3==0 else start+name if name[0].lower()=="m" else name+end if (idx+1)%3==0 else name for idx, name in enumerate(ironhack)]

new_list_comprehension

['Inigo',
 'Mamma mia Mahshid',
 'Mamma mia Meitar farfallone',
 'Mamma mia Matthieu',
 'Ludovica',
 'Helene farfallone',
 'Chris',
 'Jiawei',
 'Yani farfallone',
 'Thomas']

A nested For Loop
```python
list_of_list = [[1,2,3], [4,5,6], [7,8,9]]
# to flatten the list of list into simply a list
nested_list_comprehension = [temporary_variable for temporary_list in list_of_list for temporary_variable in temporary_list]
# corresponds to:
new_list5 = []
for temporary_list in list_of_list:
    for temporary_variable in temporary_list:
        new_list5.append(temporary_variable)

```
A nested For Loop with only an if... statement, but no else... statement i.e. to filter the items
```python
nested_list_comprehension2 = [temporary_variable for temporary_list in list_of_list for temporary_variable in temporary_list if condition]
# corresponds to:
new_list6 = []
for temporary_list in list_of_list:
    for temporary_variable in temporary_list:
        if condition:
            new_list6.append(temporary_variable)
```
A nested For Loop with if... else... statement
```python
nested_list_comprehension3 = [temporary_variable if condition else temporary_variable+1 for temporary_list in list_of_list for temporary_variable in temporary_list]
# corresponds to:
new_list7 = []
for temporary_list in list_of_list:
    for temporary_variable in temporary_list:
        if condition:
            new_list7.append(temporary_variable)
        else:
            new_list7.append(temporary_variaable+1)
```

In [70]:
# Exmaple: Create a list with the name that starts with "M"
breakout_rooms = [["Inigo", "Mahshid", "Meitar"], ["Matthieu", "Ludovica", "Helene"], ["Chris", "Jiawei", "Yani", "Thomas"]]

# nested for loop
new_list2=[]
for room in breakout_rooms:
    for name in room:
        if name.startswith("M"):
            new_list2.append(name)
            
# nested for list comprehension
new_list_comprehension2=[name for room in breakout_rooms for name in room if name.startswith("M")]

new_list_comprehension2

['Mahshid', 'Meitar', 'Matthieu']

### While Loops

While Loops generally used when you need to loop based on a condition rather than counting, it is a condition-based looping.

```python
while variable == condition:
    # do something
```

In [43]:
# Example: I have a list of my expense ordered in the priorities of purchase in variable to_buy
# I will keep on buying as long as my bank_balance is above 100
# I want to know how many items I could buy
bank_balance = 200
to_buy = [17, 3, 14, 8, 69, 18, 36]

In [44]:
count=0
while bank_balance > 100:
    bank_balance-=to_buy.pop(0)
    count+=1
print(count)

5

### Statements

#### Continue Statement

Once a continue statement is hit, the current iteration stops and goes back to the top of the loop

In [45]:
# Example:
for num in range(5):
    if num == 3:
        continue # this will stop the current iteration and go back to the top, hence not reaching the next line
    print(num)

0
1
2
4

#### Break Statement

Allows us to break out of a loop at any point in time

In [7]:
# Example:
for num in range(5):
    if num == 3:
        break # break out of the loop
    print(num)

0
1
2

If you use a double loop, the break statement will only break out of the loop
that the statement is within. Meaning, it will not break out of both loops if the break
statement is used within the inner loop.

In [14]:
# Example:
alphabets = ["a", "b", "c"]

for letter in alphabets:
    for num in range(5):
        if num==2:
            break
        print(num, letter)

0 a
1 a
0 b
1 b
0 c
1 c

#### Pass Statement

the index value from which the counter is to be started

In [15]:
# Example:
for i in range(5):
    if i == 3:
        # TODO: add code do something awesome
        pass
    print(i)

0
1
2
3
4

## List Operations

In [46]:
len(ironhack)

10

In [47]:
ironhack.index("Ludovica")

4

In [48]:
ironhack.sort()

In [49]:
ironhack

['Chris',
 'Helene',
 'Inigo',
 'Jiawei',
 'Ludovica',
 'Mahshid',
 'Matthieu',
 'Meitar',
 'Thomas',
 'Yani']

In [50]:
fruit_tuple = ("apple", "pear", "grape", "grape", "grape", "grape", "grape", "grape")
fruit_tuple.count("grape")

6

In [51]:
# return the unique value in fruit_tuple
set(fruit_tuple)

{'apple', 'grape', 'pear'}

In [52]:
# create a dictionary that gives me with names of each fruit and its count in fruit_tuple
fruit_dict = {fruit: fruit_tuple.count(fruit) for fruit in set(fruit_tuple)}
fruit_dict

{'grape': 6, 'apple': 1, 'pear': 1}

In [53]:
fruit_dict.keys()

dict_keys(['grape', 'apple', 'pear'])

In [55]:
fruit_dict.values()

dict_values([6, 1, 1])

In [58]:
a="apple"
b=17
print(f"I have {b} of {a}.") #f string

I have 17 of apple.

In [61]:
fruit_dict.items()

dict_items([('grape', 6), ('apple', 1), ('pear', 1)])

In [62]:
for k, v in fruit_dict.items():
    print(f"I have {v} of {k}.")

I have 6 of grape.
I have 1 of apple.
I have 1 of pear.

## Pandas Import

In [64]:
import os
import pandas as pd

In [65]:
pd.read_csv("BreadBasket_DMS.csv")

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[21293 rows x 4 columns]

In [66]:
os.chdir("vehicles") # change directory

In [68]:
os.getcwd() # show where/which directory you are in

'C:\\Users\\nclee\\Downloads\\vehicles'