# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [5]:
!pip install pandas --upgrade

Collecting pandas
  Using cached pandas-1.2.2-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp38-cp38-win_amd64.whl (13.7 MB)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\israe\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\israe\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.2 pytz-2021.1

In [6]:
# your code 
import os
import pandas as pd
import numpy as np

#### 2. Create a Pandas Series containing the elements of the list below.

In [7]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [10]:
# your code here
series_lst = pd.Series(lst)
series_lst

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [12]:
# your code here
series_lst[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [13]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [29]:
# your code here
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

In [30]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [35]:
# your code here - df = pd.DataFrame('x', index=range(3), columns=list('abcde'))
df.columns = colnames
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [40]:
# your code here
sub_df = df[['Score_1', 'Score_3', 'Score_5']]
print(sub_df)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

In [59]:
# your code here - Keep in mind you can access the values of a column by df['Column']
df_avg = df['Score_3'].sum()/len(df['Score_3'])
print(df_avg)

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [61]:
# your code here
df_max = max(df['Score_4'])
df_max

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

In [73]:
# your code here
import statistics
df_median = statistics.median(df['Score_2'])
print(df_median)

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [74]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [81]:
# your code here
orders_df = pd.DataFrame(orders)
print(orders_df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [91]:
# your code here
total_quantity = orders_df['Quantity'].sum()
print(r'Total Quantity is :', total_quantity)
total_revenue = orders_df['Revenue'].sum()
print(r'Total Quantity is :', total_revenue)

Total Quantity is : 2978
Total Quantity is : 637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [100]:
# your code here
max_price = max(orders_df['UnitPrice'])
print('Max price =', max_price)
min_price = min(orders_df['UnitPrice'])
print('Max price =', min_price)
print(r'the difference between the max and minimun is:', max_price - min_price)

Max price = 11.95
Max price = 0.18
the difference between the max and minimun is: 11.77