import pandas as pd

#

In [2]:
pd.Series

pandas.core.series.Series

In [3]:
print(pd.Series.__doc__)

    One-dimensional ndarray with axis labels (including time series).

    Labels need not be unique but must be a hashable type. The object
    supports both integer- and label-based indexing and provides a host of
    methods for performing operations involving the index. Statistical
    methods from ndarray have been overridden to automatically exclude
    missing data (currently represented as NaN).

    Operations between Series (+, -, /, *, **) align values based on their
    associated index values-- they need not be the same length. The result
    index will be the sorted union of the two indexes.

    Parameters
    ----------
    data : array-like, Iterable, dict, or scalar value
        Contains data stored in Series.

        .. versionchanged:: 0.23.0
           If data is a dict, argument order is maintained for Python 3.6
           and later.

    index : array-like or Index (1d)
        Values must be hashable and have the same length as `data`.
        Non-unique index values are allowed. Will default to
        RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
        sequence are used, the index will override the keys found in the
        dict.
    dtype : str, numpy.dtype, or ExtensionDtype, optional
        Data type for the output Series. If not specified, this will be
        inferred from `data`.
        See the :ref:`user guide <basics.dtypes>` for more usages.
    name : str, optional
        The name to give to the Series.
    copy : bool, default False
        Copy input data.

In [4]:
l=list(range(-5,50,5))

In [5]:
l

[-5, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [6]:
pd.Series(l)

0     -5
1      0
2      5
3     10
4     15
5     20
6     25
7     30
8     35
9     40
10    45
dtype: int64

In [8]:
pd.Series(range(-5,50,5))

0     -5
1      0
2      5
3     10
4     15
5     20
6     25
7     30
8     35
9     40
10    45
dtype: int64

In [9]:
pd.Series(range(-5,50,5), name='x5 series')

0     -5
1      0
2      5
3     10
4     15
5     20
6     25
7     30
8     35
9     40
10    45
Name: x5 series, dtype: int64

In [10]:
pd.Series(5)

0    5
dtype: int64

In [11]:
#by default pandas can take integers, dictionnaries but not list

dct={'apples': 10, 
    'cucumbers': 3,
    'bread': 5,
    'water':10,
    'wine': 4}

In [13]:
pd.Series(dct, name='picnic')

apples       10
cucumbers     3
bread         5
water        10
wine          4
Name: picnic, dtype: int64

In [14]:
#using list 

pd.Series({'a':[0,1,2,3,4,5],'b':[0,1,4,9,16,25],'c':[0,-1,-2,-3]})

a      [0, 1, 2, 3, 4, 5]
b    [0, 1, 4, 9, 16, 25]
c         [0, -1, -2, -3]
dtype: object