# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
import numpy as np

#### 2. Print your NumPy version.

In [5]:
np.__version__

'1.18.5'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [29]:
a = np.random.random((2,3,5))
a

array([[[0.4566236 , 0.83229833, 0.77390149, 0.5876278 , 0.02784794],
        [0.1832097 , 0.24308701, 0.32342753, 0.62507605, 0.01767085],
        [0.67561246, 0.13130847, 0.98366465, 0.25424051, 0.75730944]],

       [[0.09074159, 0.02187715, 0.96414818, 0.64550418, 0.11539403],
        [0.95064835, 0.21811804, 0.1551939 , 0.25629826, 0.2816198 ],
        [0.38956424, 0.84287929, 0.52325252, 0.97302962, 0.06448857]]])

In [18]:
np.empty([2, 3, 5])

array([[[0.91621082, 0.94316581, 0.72833252, 0.80692095, 0.43211737],
        [0.97547093, 0.12718108, 0.52674791, 0.62439699, 0.62105031],
        [0.5540528 , 0.28661334, 0.08596492, 0.47180359, 0.21566264]],

       [[0.75462311, 0.45814252, 0.97619809, 0.27852747, 0.08935759],
        [0.36160073, 0.97654884, 0.46822959, 0.17532746, 0.21315056],
        [0.70089802, 0.6538205 , 0.02195301, 0.43184095, 0.43855359]]])

In [25]:
np.random.rand(2,3,5)

array([[[7.37235058e-01, 1.06056385e-01, 3.92632656e-01, 9.95040958e-02,
         7.16798430e-01],
        [6.15796488e-02, 3.66236394e-01, 9.33680877e-01, 1.60638790e-01,
         2.88306934e-01],
        [4.18488739e-01, 6.32914781e-01, 7.83681712e-01, 3.64498292e-01,
         4.87816844e-01]],

       [[4.20698747e-01, 7.51613965e-01, 5.15087308e-01, 9.07034096e-01,
         3.98164475e-04],
        [4.80333896e-01, 5.82142757e-01, 4.14194901e-01, 9.89100642e-01,
         5.03305078e-01],
        [8.25072882e-01, 2.37390478e-02, 8.79836871e-01, 2.45784510e-01,
         7.77761671e-01]]])

#### 4. Print *a*.

In [15]:
a

array([[[0.91621082, 0.94316581, 0.72833252, 0.80692095, 0.43211737],
        [0.97547093, 0.12718108, 0.52674791, 0.62439699, 0.62105031],
        [0.5540528 , 0.28661334, 0.08596492, 0.47180359, 0.21566264]],

       [[0.75462311, 0.45814252, 0.97619809, 0.27852747, 0.08935759],
        [0.36160073, 0.97654884, 0.46822959, 0.17532746, 0.21315056],
        [0.70089802, 0.6538205 , 0.02195301, 0.43184095, 0.43855359]]])

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [22]:
b = np.random.uniform(low=1, size = (5,2,3))

#### 6. Print *b*.

In [23]:
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [31]:
print(a.shape)
print(b.shape)

a.shape==b.shape

(2, 3, 5)
(5, 2, 3)

False

#### 8. Are you able to add *a* and *b*? Why or why not?

In [32]:
#They are not the same shape.
a + b

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [49]:
#!!! WRONG
c = b.reshape(2,3,5)
c

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [ ]:
b.transpose((1,2,0))

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [40]:
d = a + c

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [46]:
print(a)

print("\n\n\n",d)

[[[0.4566236  0.83229833 0.77390149 0.5876278  0.02784794]
  [0.1832097  0.24308701 0.32342753 0.62507605 0.01767085]
  [0.67561246 0.13130847 0.98366465 0.25424051 0.75730944]]

 [[0.09074159 0.02187715 0.96414818 0.64550418 0.11539403]
  [0.95064835 0.21811804 0.1551939  0.25629826 0.2816198 ]
  [0.38956424 0.84287929 0.52325252 0.97302962 0.06448857]]]



 [[[1.4566236  1.83229833 1.77390149 1.5876278  1.02784794]
  [1.1832097  1.24308701 1.32342753 1.62507605 1.01767085]
  [1.67561246 1.13130847 1.98366465 1.25424051 1.75730944]]

 [[1.09074159 1.02187715 1.96414818 1.64550418 1.11539403]
  [1.95064835 1.21811804 1.1551939  1.25629826 1.2816198 ]
  [1.38956424 1.84287929 1.52325252 1.97302962 1.06448857]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [50]:
a

array([[[0.4566236 , 0.83229833, 0.77390149, 0.5876278 , 0.02784794],
        [0.1832097 , 0.24308701, 0.32342753, 0.62507605, 0.01767085],
        [0.67561246, 0.13130847, 0.98366465, 0.25424051, 0.75730944]],

       [[0.09074159, 0.02187715, 0.96414818, 0.64550418, 0.11539403],
        [0.95064835, 0.21811804, 0.1551939 , 0.25629826, 0.2816198 ],
        [0.38956424, 0.84287929, 0.52325252, 0.97302962, 0.06448857]]])

In [51]:
c

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [48]:
e = a * c
e

array([[[0.4566236 , 0.83229833, 0.77390149, 0.5876278 , 0.02784794],
        [0.1832097 , 0.24308701, 0.32342753, 0.62507605, 0.01767085],
        [0.67561246, 0.13130847, 0.98366465, 0.25424051, 0.75730944]],

       [[0.09074159, 0.02187715, 0.96414818, 0.64550418, 0.11539403],
        [0.95064835, 0.21811804, 0.1551939 , 0.25629826, 0.2816198 ],
        [0.38956424, 0.84287929, 0.52325252, 0.97302962, 0.06448857]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [54]:
#Because a * c = a
# e = a will equal the same as a
e == a

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [58]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

print(d_max)
print(d_min)
print(d_mean)

1.983664645803132
1.0176708486618375
1.4455221183996136

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [117]:
# empty will use values from past memory.
f = np.empty((2,3,5))
f

array([[[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [95]:
z = [k for i in d for j in i for k in j]
z

[1.4566236047810563,
 1.832298328640476,
 1.7739014910197943,
 1.5876277999625534,
 1.0278479438625803,
 1.1832097016402603,
 1.243087009685504,
 1.3234275255999282,
 1.6250760538823568,
 1.0176708486618375,
 1.6756124596660447,
 1.131308470254813,
 1.983664645803132,
 1.2542405053016226,
 1.7573094413499173,
 1.0907415910526972,
 1.0218771471992563,
 1.9641481818342128,
 1.6455041825734797,
 1.115394033770189,
 1.9506483522979186,
 1.2181180446649682,
 1.1551938979535388,
 1.2562982580735609,
 1.2816197952991,
 1.3895642416732918,
 1.8428792881026346,
 1.5232525178193468,
 1.973029616176309,
 1.0644885733860319]

In [111]:
# your code here
# dont need numpy for this solution
z2 = []
for i in z:
    if i > d_min and i < d_mean:
        z2.append(25)
    elif i > d_mean and i < d_max:
        z2.append(75)
    elif i == d_mean:
        z2.append(50)
    elif i == d_min:
        z2.append(0)
    elif i == d_max:
        z2.append(100)

z2=np.reshape(z2, (2,3,5))   
z2

array([[[ 75,  75,  75,  75,  25],
        [ 25,  25,  25,  75,   0],
        [ 75,  25, 100,  25,  75]],

       [[ 25,  25,  75,  75,  25],
        [ 75,  25,  25,  25,  25],
        [ 25,  75,  75,  75,  25]]])

In [114]:
# Thats not right
f=z2
f

array([[[ 75,  75,  75,  75,  25],
        [ 25,  25,  25,  75,   0],
        [ 75,  25, 100,  25,  75]],

       [[ 25,  25,  75,  75,  25],
        [ 75,  25,  25,  25,  25],
        [ 25,  75,  75,  75,  25]]])

In [121]:
#Use np.where()

f=np.where(d==d_max, 100, d)
f=np.where(d==d_min, 0, f)
f=np.where(d==d_mean, 50, f)
f=np.where(d>d_max and d<d_mean, 25, f)
f=np.where(d>d_mean and d<d_max, 75, f)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [116]:
lst = [k for i in d for j in i for k in j]

lst2 = []
for i in z:
    if i > d_min and i < d_mean:
        lst2.append("B")
    elif i > d_mean and i < d_max:
        lst2.append("D")
    elif i == d_mean:
        lst2.append("C")
    elif i == d_min:
        lst2.append("A")
    elif i == d_max:
        lst2.append("E")

lst2=np.reshape(lst2, (2,3,5))   
lst2

array([[['D', 'D', 'D', 'D', 'B'],
        ['B', 'B', 'B', 'D', 'A'],
        ['D', 'B', 'E', 'B', 'D']],

       [['B', 'B', 'D', 'D', 'B'],
        ['D', 'B', 'B', 'B', 'B'],
        ['B', 'D', 'D', 'D', 'B']]], dtype='<U1')