In [1]:
import numpy as np

In [15]:
a=np.random.random((2,2))
b=np.random.random((3,2,2))
c=np.arange(16).reshape((2,2,2,2))

In [16]:
a

array([[0.54505349, 0.2469789 ],
       [0.2493157 , 0.46031084]])

In [17]:
b

array([[[0.05289432, 0.97800037],
        [0.39094252, 0.38308627]],

       [[0.36015093, 0.32695925],
        [0.72772366, 0.3774145 ]],

       [[0.52720279, 0.67330391],
        [0.25763909, 0.12749418]]])

In [19]:
c

array([[[[ 0,  1],
         [ 2,  3]],

        [[ 4,  5],
         [ 6,  7]]],


       [[[ 8,  9],
         [10, 11]],

        [[12, 13],
         [14, 15]]]])

In [21]:
a

array([[0.54505349, 0.2469789 ],
       [0.2493157 , 0.46031084]])

In [22]:
a[0]

array([0.54505349, 0.2469789 ])

In [23]:
a[1]

array([0.2493157 , 0.46031084])

In [24]:
a[:,0]

array([0.54505349, 0.2493157 ])

In [25]:
a[:,1]

array([0.2469789 , 0.46031084])

In [26]:
b

array([[[0.05289432, 0.97800037],
        [0.39094252, 0.38308627]],

       [[0.36015093, 0.32695925],
        [0.72772366, 0.3774145 ]],

       [[0.52720279, 0.67330391],
        [0.25763909, 0.12749418]]])

In [27]:
b[0]

array([[0.05289432, 0.97800037],
       [0.39094252, 0.38308627]])

In [28]:
b[:,0]

array([[0.05289432, 0.97800037],
       [0.36015093, 0.32695925],
       [0.52720279, 0.67330391]])

In [29]:
b[:,:,1]

array([[0.97800037, 0.38308627],
       [0.32695925, 0.3774145 ],
       [0.67330391, 0.12749418]])

In [34]:
c

array([[[[ 0,  1],
         [ 2,  3]],

        [[ 4,  5],
         [ 6,  7]]],


       [[[ 8,  9],
         [10, 11]],

        [[12, 13],
         [14, 15]]]])

In [33]:
c[0,1,1]

array([6, 7])

In [35]:
c[:,:,:,1]

array([[[ 1,  3],
        [ 5,  7]],

       [[ 9, 11],
        [13, 15]]])

In [37]:
b

array([[[0.05289432, 0.97800037],
        [0.39094252, 0.38308627]],

       [[0.36015093, 0.32695925],
        [0.72772366, 0.3774145 ]],

       [[0.52720279, 0.67330391],
        [0.25763909, 0.12749418]]])

In [38]:
b[0]

array([[0.05289432, 0.97800037],
       [0.39094252, 0.38308627]])

In [39]:
a.T

array([[0.54505349, 0.2493157 ],
       [0.2469789 , 0.46031084]])

In [40]:
a.transpose()

array([[0.54505349, 0.2493157 ],
       [0.2469789 , 0.46031084]])

In [42]:
c.sum()

120

In [45]:
c

array([[[[ 0,  1],
         [ 2,  3]],

        [[ 4,  5],
         [ 6,  7]]],


       [[[ 8,  9],
         [10, 11]],

        [[12, 13],
         [14, 15]]]])

In [44]:
c.sum(axis=0)

array([[[ 8, 10],
        [12, 14]],

       [[16, 18],
        [20, 22]]])

In [46]:
c.sum(axis=3)

array([[[ 1,  5],
        [ 9, 13]],

       [[17, 21],
        [25, 29]]])

In [47]:
c.sort()

In [48]:
c

array([[[[ 0,  1],
         [ 2,  3]],

        [[ 4,  5],
         [ 6,  7]]],


       [[[ 8,  9],
         [10, 11]],

        [[12, 13],
         [14, 15]]]])

In [50]:
c=np.arange(16,0,-1).reshape((2,2,2,2))

In [51]:
c

array([[[[16, 15],
         [14, 13]],

        [[12, 11],
         [10,  9]]],


       [[[ 8,  7],
         [ 6,  5]],

        [[ 4,  3],
         [ 2,  1]]]])

In [52]:
c.sort()

In [54]:
c.sort(axis=0)

In [57]:
c.sort(axis=1)
c.sort(axis=2)
c

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [58]:
b

array([[[0.05289432, 0.97800037],
        [0.39094252, 0.38308627]],

       [[0.36015093, 0.32695925],
        [0.72772366, 0.3774145 ]],

       [[0.52720279, 0.67330391],
        [0.25763909, 0.12749418]]])

In [59]:
b.sort(axis=0)

In [60]:
b

array([[[0.05289432, 0.32695925],
        [0.25763909, 0.12749418]],

       [[0.36015093, 0.67330391],
        [0.39094252, 0.3774145 ]],

       [[0.52720279, 0.97800037],
        [0.72772366, 0.38308627]]])

# Lab Review

In [5]:
import numpy as np

In [6]:
print(np.__version__)

1.19.2

In [7]:
a=np.random.random((2,3,5))

In [8]:
a

array([[[0.16934179, 0.47340438, 0.5381245 , 0.26551718, 0.21137736],
        [0.25483375, 0.94155855, 0.9065304 , 0.1185789 , 0.36863527],
        [0.63283801, 0.98571907, 0.85260574, 0.10684635, 0.50388784]],

       [[0.33050999, 0.21297503, 0.6394684 , 0.14759132, 0.85992124],
        [0.38588075, 0.10730984, 0.30261959, 0.96705553, 0.67404607],
        [0.14952381, 0.01864145, 0.07535842, 0.38588098, 0.15580808]]])

In [9]:
b=np.ones((5,2,3))

In [10]:
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [11]:
a.size, b.size

(30, 30)

In [12]:
a+b

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [13]:
c=b.transpose((1,2,0))

In [14]:
d=a+c

In [15]:
a

array([[[0.16934179, 0.47340438, 0.5381245 , 0.26551718, 0.21137736],
        [0.25483375, 0.94155855, 0.9065304 , 0.1185789 , 0.36863527],
        [0.63283801, 0.98571907, 0.85260574, 0.10684635, 0.50388784]],

       [[0.33050999, 0.21297503, 0.6394684 , 0.14759132, 0.85992124],
        [0.38588075, 0.10730984, 0.30261959, 0.96705553, 0.67404607],
        [0.14952381, 0.01864145, 0.07535842, 0.38588098, 0.15580808]]])

In [16]:
d

array([[[1.16934179, 1.47340438, 1.5381245 , 1.26551718, 1.21137736],
        [1.25483375, 1.94155855, 1.9065304 , 1.1185789 , 1.36863527],
        [1.63283801, 1.98571907, 1.85260574, 1.10684635, 1.50388784]],

       [[1.33050999, 1.21297503, 1.6394684 , 1.14759132, 1.85992124],
        [1.38588075, 1.10730984, 1.30261959, 1.96705553, 1.67404607],
        [1.14952381, 1.01864145, 1.07535842, 1.38588098, 1.15580808]]])

In [17]:
e=a*c

In [18]:
a

array([[[0.16934179, 0.47340438, 0.5381245 , 0.26551718, 0.21137736],
        [0.25483375, 0.94155855, 0.9065304 , 0.1185789 , 0.36863527],
        [0.63283801, 0.98571907, 0.85260574, 0.10684635, 0.50388784]],

       [[0.33050999, 0.21297503, 0.6394684 , 0.14759132, 0.85992124],
        [0.38588075, 0.10730984, 0.30261959, 0.96705553, 0.67404607],
        [0.14952381, 0.01864145, 0.07535842, 0.38588098, 0.15580808]]])

In [19]:
e

array([[[0.16934179, 0.47340438, 0.5381245 , 0.26551718, 0.21137736],
        [0.25483375, 0.94155855, 0.9065304 , 0.1185789 , 0.36863527],
        [0.63283801, 0.98571907, 0.85260574, 0.10684635, 0.50388784]],

       [[0.33050999, 0.21297503, 0.6394684 , 0.14759132, 0.85992124],
        [0.38588075, 0.10730984, 0.30261959, 0.96705553, 0.67404607],
        [0.14952381, 0.01864145, 0.07535842, 0.38588098, 0.15580808]]])

In [20]:
d_max=d.max()

In [21]:
d_min=d.min()

In [22]:
d_mean=d.mean()

In [23]:
f=np.zeros((2,3,5))

In [24]:
f

array([[[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

In [30]:
for idx1, m_1 in enumerate(d):
    for idx2, m_2 in enumerate(m_1):
        for idx, i in enumerate(m_2):
            if d_min < i < d_mean:
                f[idx1, idx2, idx] = 25
            elif d_mean < i < d_max:
                f[idx1, idx2, idx] = 75
            elif i == d_mean:
                f[idx1, idx2, idx] = 50
            elif i == d_min:
                f[idx1, idx2, idx] = 0
            elif i == d_max:
                f[idx1, idx2, idx] = 100

In [31]:
d_max

1.9857190660926003

In [32]:
d

array([[[1.16934179, 1.47340438, 1.5381245 , 1.26551718, 1.21137736],
        [1.25483375, 1.94155855, 1.9065304 , 1.1185789 , 1.36863527],
        [1.63283801, 1.98571907, 1.85260574, 1.10684635, 1.50388784]],

       [[1.33050999, 1.21297503, 1.6394684 , 1.14759132, 1.85992124],
        [1.38588075, 1.10730984, 1.30261959, 1.96705553, 1.67404607],
        [1.14952381, 1.01864145, 1.07535842, 1.38588098, 1.15580808]]])

In [33]:
f

array([[[ 25.,  75.,  75.,  25.,  25.],
        [ 25.,  75.,  75.,  25.,  25.],
        [ 75., 100.,  75.,  25.,  75.]],

       [[ 25.,  25.,  75.,  25.,  75.],
        [ 25.,  25.,  25.,  75.,  75.],
        [ 25.,   0.,  25.,  25.,  25.]]])

In [102]:
f=np.where(d==d_max,100,d)
f=np.where(d<d_max, 75, f)
f=np.where(d==d_mean, 50, f)
f=np.where(d<d_mean, 25, f)
f=np.where(d==d_min, 0, f)

In [103]:
f

array([[[ 75.,  75.,  25.,  75.,  75.],
        [ 75.,  75.,  25.,  25.,  25.],
        [ 75.,  75.,  25., 100.,  25.]],

       [[ 75.,  25.,   0.,  25.,  25.],
        [ 75.,  75.,  75.,  25.,  25.],
        [ 25.,  25.,  25.,  25.,  75.]]])

In [104]:
g=np.where(f==100,'E',f)
g=np.where(f==75, 'D', g)
g=np.where(f==50, 'C', g)
g=np.where(f==25, 'B', g)
g=np.where(f==0, 'A', g)

In [105]:
g

array([[['D', 'D', 'B', 'D', 'D'],
        ['D', 'D', 'B', 'B', 'B'],
        ['D', 'D', 'B', 'E', 'B']],

       [['D', 'B', 'A', 'B', 'B'],
        ['D', 'D', 'D', 'B', 'B'],
        ['B', 'B', 'B', 'B', 'D']]], dtype='<U32')

# Advanced Functional Programming

## map

In [114]:
def foo(x):
    return x%2==0

In [109]:
foo(2)

True

In [110]:
l=[10,11,13,16,17]

In [116]:
[foo(i) for i in l]

[True, False, False, True, False]

In [117]:
map(foo, l)

In [118]:
list(map(foo,l))

[True, False, False, True, False]

In [125]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[2,3,np.nan]])

In [126]:
df

   0  1    2
0  1  2  3.0
1  2  3  NaN

In [128]:
for i in df:
    print(df[i].max()-df[i].min())

1
1
0.0

In [134]:
def foo(x):
    return x/2

In [136]:
df[0].map(foo)

0    0.5
1    1.0
Name: 0, dtype: float64

In [138]:
df[0].values

array([1, 2], dtype=int64)

In [139]:
dct={1:'apple',2:'plum'}

In [142]:
df[0]

0    1
1    2
Name: 0, dtype: int64

In [141]:
df[0].map(dct)

0    apple
1     plum
Name: 0, dtype: object

In [144]:
df[1].map(dct)

0    plum
1     NaN
Name: 1, dtype: object

In [145]:
df[0]/2

0    0.5
1    1.0
Name: 0, dtype: float64

## filter

In [146]:
l

[10, 11, 13, 16, 17]

In [149]:
def foo(x):
    return x%2==0

The procedure that returns a list containing only those values from a given iterable that meets the criteria specified in the function (function should return True)

In [150]:
list(map(foo, l))

[True, False, False, True, False]

In [151]:
list(filter(foo,l))

[10, 16]

In [152]:
df.index=['mouse','cat']

In [153]:
df

       0  1    2
mouse  1  2  3.0
cat    2  3  NaN

In [154]:
df.filter(like='ouse',axis=0)

       0  1    2
mouse  1  2  3.0

In [155]:
df.filter(like='ou',axis=0)

       0  1    2
mouse  1  2  3.0

In [156]:
df.filter(like='t',axis=0)

     0  1   2
cat  2  3 NaN

In [159]:
df.loc[df.index.str.contains('ouse')]

       0  1    2
mouse  1  2  3.0

In [160]:
df.filter(items=[0,2],axis=1)

       0    2
mouse  1  3.0
cat    2  NaN

## reduce

<img src='https://www.python-course.eu/images/reduce_diagram.png'>

In [161]:
def func(a,b):
    return a+b

In [162]:
from functools import reduce

In [163]:
reduce(func, [47,11,42,13])

113

In [164]:
def func(a,b):
    return a if a>b else b

47 vs 11 --> 47  
47 vs 42 --> 47  
47 vs 13 --> 47

In [165]:
reduce(func, [47,11,42,13])

47

In [166]:
def func(a,b):
    return b if a>b else a

In [167]:
reduce(func, [47,11,42,13])

11

## lambda

```python
lambda arguments: expression
```

In [172]:
# regular function
def squared(x):
    return x**2

In [173]:
list(map(squared, l))

[100, 121, 169, 256, 289]

In [174]:
square=lambda x: x**2

In [175]:
list(map(square, l))

[100, 121, 169, 256, 289]

In [176]:
list(map(lambda x: x**2, l))

[100, 121, 169, 256, 289]

In [177]:
squared(11)

121

In [178]:
square(11)

121

In [179]:
(lambda x: x**2)(11)

121

define a normal and lambda function that would return me a result of division with 0 in case of division by 0

In [180]:
def div(x,y):
    return x/y if y!=0 else y

In [181]:
div(4,2)

2.0

In [182]:
div(4,0)

0

In [183]:
div2=lambda x,y: x/y if y!=0 else y

In [184]:
div2(4,2)

2.0

In [185]:
div2(4,0)

0

In [186]:
def generate_range(lower):
    return lambda upper: range(lower,upper)

In [187]:
func1=generate_range(1)

In [189]:
func1(10)

range(1, 10)

In [190]:
func1(5)

range(1, 5)

In [191]:
func5=generate_range(5)
func5(10)

range(5, 10)

In [192]:
func5(22)

range(5, 22)

In [193]:
func5=generate_range(-10000000)
func5(10)

range(-10000000, 10)

In [194]:
list_of_topics=['python-programming','mysql','web-scrapping','tableau','data-viz','statistics','machine-learning','neural-nets']

In [195]:
list_of_topics

['python-programming',
 'mysql',
 'web-scrapping',
 'tableau',
 'data-viz',
 'statistics',
 'machine-learning',
 'neural-nets']

In [199]:
list_of_topics=list(map(lambda x: x.replace('-',' ').title(), list_of_topics))

In [197]:
[x.replace('-',' ').title() for x in list_of_topics]

['Python Programming',
 'Mysql',
 'Web Scrapping',
 'Tableau',
 'Data Viz',
 'Statistics',
 'Machine Learning',
 'Neural Nets']

In [201]:
dct_of_topics={x:len(x) for x in list_of_topics}

In [202]:
from operator import itemgetter

In [204]:
dict(sorted(dct_of_topics.items(), key=itemgetter(1), reverse=True))

{'Python Programming': 18,
 'Machine Learning': 16,
 'Web Scrapping': 13,
 'Neural Nets': 11,
 'Statistics': 10,
 'Data Viz': 8,
 'Tableau': 7,
 'Mysql': 5}

In [205]:
dict(sorted(dct_of_topics.items(), 
            key= lambda x: x[1], 
            reverse=True))

{'Python Programming': 18,
 'Machine Learning': 16,
 'Web Scrapping': 13,
 'Neural Nets': 11,
 'Statistics': 10,
 'Data Viz': 8,
 'Tableau': 7,
 'Mysql': 5}

In [206]:
dct_of_topics.items()

dict_items([('Python Programming', 18), ('Mysql', 5), ('Web Scrapping', 13), ('Tableau', 7), ('Data Viz', 8), ('Statistics', 10), ('Machine Learning', 16), ('Neural Nets', 11)])

# Map, Apply, Applymap + Lambda in Pandas

* Map - maps a function/dict to every value in the Series
* Apply - applies a function to every value in the Series or every Serie in the DataFrame (both rows and columns)
* Applymap - applies a function to every value in the DataFrame

In [207]:
df=pd.read_csv('https://ironhack.school/asset-v1:IRONHACK+DAFT+201910_PAR+type@asset+block@IMDB-Movie-Data.csv')

In [208]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [210]:
df.Rating.max()

9.0

In [211]:
df.Rating.idxmax()

54

In [212]:
df.loc[df.Rating.idxmax()]

Rank                                                                 55
Title                                                   The Dark Knight
Genre                                                Action,Crime,Drama
Description           When the menace known as the Joker wreaks havo...
Director                                              Christopher Nolan
Actors                Christian Bale, Heath Ledger, Aaron Eckhart,Mi...
Year                                                               2008
Runtime (Minutes)                                                   152
Rating                                                                9
Votes                                                           1791916
Revenue (Millions)                                               533.32
Metascore                                                            82
Name: 54, dtype: object

Rescale Rating column to be up to 5

In [215]:
df.Rating.map(lambda x: x/2);

In [216]:
def range_column(x: pd.Series):
    return x.max()-x.min()

In [219]:
df[['Rating','Metascore']].apply(range_column)

Rating        7.1
Metascore    89.0
dtype: float64

In [220]:
def missing_col(x:pd.Series):
    return x.isna().sum()

In [221]:
df.apply(missing_col)

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [224]:
df._get_numeric_data().apply(sum, axis=1)

0      759627.23
1      488156.46
2      159949.42
3       63009.52
4      396242.22
         ...
995          NaN
996     76319.04
997     73917.21
998          NaN
999     15573.94
Length: 1000, dtype: float64

Select an action movie for me to watch tonight. 

I don't like fantasy movies, so action fantasy doesnt count.  
I can accept Action, Action/Thrillers or Action/Adventure movies.

In [229]:
df[df.Genre.str.contains('action',case=False)];

In [231]:
df[df.Genre.str.contains('action',case=False) &df.Genre.str.contains('thriller',case=False)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
53,54,John Wick,"Action,Crime,Thriller",An ex-hitman comes out of retirement to track ...,Chad Stahelski,"Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...",2014,101,7.2,321933,43.00,68.0
69,70,Deepwater Horizon,"Action,Drama,Thriller","A dramatization of the April 2010 disaster, wh...",Peter Berg,"Mark Wahlberg, Kurt Russell, Douglas M. Griffi...",2016,107,7.2,89849,61.28,68.0
84,85,Furious Seven,"Action,Crime,Thriller",Deckard Shaw seeks revenge against Dominic Tor...,James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson, Jason...",2015,137,7.2,301249,350.03,67.0
110,111,The Belko Experiment,"Action,Horror,Thriller","In a twisted social experiment, 80 Americans a...",Greg McLean,"John Gallagher Jr., Tony Goldwyn, Adria Arjona...",2016,89,6.3,3712,10.16,44.0
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
134,135,Furious 6,"Action,Crime,Thriller",Hobbs has Dominic and Brian reassemble their c...,Justin Lin,"Vin Diesel, Paul Walker, Dwayne Johnson, Miche...",2013,130,7.1,318051,238.67,61.0
164,165,Casino Royale,"Action,Adventure,Thriller","Armed with a licence to kill, Secret Agent Jam...",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",2006,144,8.0,495106,167.01,80.0
169,170,Spectre,"Action,Adventure,Thriller",A cryptic message from Bond's past sends him o...,Sam Mendes,"Daniel Craig, Christoph Waltz, La Seydoux, Ra...",2015,148,6.8,308981,200.07,60.0
233,234,Mission: Impossible - Rogue Nation,"Action,Adventure,Thriller",Ethan and team take on their most impossible m...,Christopher McQuarrie,"Tom Cruise, Rebecca Ferguson, Jeremy Renner, S...",2015,131,7.4,257472,195.00,75.0
270,271,Skyfall,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
300,301,The Equalizer,"Action,Crime,Thriller",A man believes he has put his mysterious past ...,Antoine Fuqua,"Denzel Washington, Marton Csokas, Chlo Grace ...",2014,132,7.2,249425,101.53,57.0
308,309,The Fast and the Furious: Tokyo Drift,"Action,Crime,Thriller",A teenager becomes a major competitor in the w...,Justin Lin,"Lucas Black, Zachery Ty Bryan, Shad Moss, Dami...",2006,104,6.0,193479,62.49,45.0
319,320,Fast Five,"Action,Crime,Thriller",Dominic Toretto and his crew of street racers ...,Justin Lin,"Vin Diesel, Paul Walker, Dwayne Johnson, Jorda...",2011,131,7.3,300803,209.81,66.0
322,323,RocknRolla,"Action,Crime,Thriller","In London, a real-estate scam puts millions of...",Guy Ritchie,"Gerard Butler, Tom Wilkinson, Idris Elba, Than...",2008,114,7.3,203096,5.69,53.0
323,324,In Time,"Action,Sci-Fi,Thriller","In a future where people stop aging at 25, but...",Andrew Niccol,"Justin Timberlake, Amanda Seyfried, Cillian Mu...",2011,109,6.7,319025,37.55,53.0
340,341,Fast & Furious,"Action,Crime,Thriller","Brian O'Conner, back working for the FBI in Lo...",Justin Lin,"Vin Diesel, Paul Walker, Michelle Rodriguez, J...",2009,107,6.6,217464,155.02,46.0
342,343,White House Down,"Action,Drama,Thriller",While on a tour of the White House with his yo...,Roland Emmerich,"Channing Tatum, Jamie Foxx, Maggie Gyllenhaal,...",2013,131,6.4,173320,73.10,52.0
375,376,Collide,"Action,Crime,Thriller",An American backpacker gets involved with a ri...,Eran Creevy,"Nicholas Hoult, Felicity Jones, Anthony Hopkin...",2016,99,5.7,7583,2.20,33.0
379,380,The Expendables 3,"Action,Adventure,Thriller",Barney augments his team with new blood for a ...,Patrick Hughes,"Sylvester Stallone, Jason Statham, Jet Li, Ant...",2014,126,6.1,137568,39.29,35.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
420,421,Hanna,"Action,Drama,Thriller",A sixteen-year-old girl who was raised by her ...,Joe Wright,"Saoirse Ronan, Cate Blanchett, Eric Bana, Vick...",2011,111,6.8,164208,40.25,65.0
426,427,Sin City: A Dame to Kill For,"Action,Crime,Thriller",Some of Sin City's most hard-boiled citizens c...,Frank Miller,"Mickey Rourke, Jessica Alba, Josh Brolin, Jose...",2014,102,6.5,122185,13.75,46.0
427,428,The Bourne Ultimatum,"Action,Mystery,Thriller",Jason Bourne dodges a ruthless CIA official an...,Paul Greengrass,"Matt Damon, Edgar Ramrez, Joan Allen, Julia S...",2007,115,8.1,525700,227.14,85.0
433,434,Mission: Impossible - Ghost Protocol,"Action,Adventure,Thriller",The IMF is shut down when it's implicated in t...,Brad Bird,"Tom Cruise, Jeremy Renner, Simon Pegg, Paula P...",2011,132,7.4,382459,209.36,73.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
468,469,District 9,"Action,Sci-Fi,Thriller",An extraterrestrial race forced to live in slu...,Neill Blomkamp,"Sharlto Copley, David James, Jason Cope, Natha...",2009,112,8.0,556794,115.65,81.0
500,501,Maze Runner: The Scorch Trials,"Action,Sci-Fi,Thriller","After having escaped the Maze, the Gladers now...",Wes Ball,"Dylan O'Brien, Kaya Scodelario, Thomas Brodie-...",2015,131,6.3,159364,81.69,43.0
532,533,Deja Vu,"Action,Sci-Fi,Thriller","After a ferry is bombed in New Orleans, an A.T...",Tony Scott,"Denzel Washington, Paula Patton, Jim Caviezel,...",2006,126,7.0,253858,NaN,NaN
533,534,Lucy,"Action,Sci-Fi,Thriller","A woman, accidentally caught in a dark deal, t...",Luc Besson,"Scarlett Johansson, Morgan Freeman, Min-sik Ch...",2014,89,6.4,352698,126.55,61.0
560,561,The Expendables,"Action,Adventure,Thriller",A CIA operative hires a team of mercenaries to...,Sylvester Stallone,"Sylvester Stallone, Jason Statham, Jet Li, Dol...",2010,103,6.5,283282,102.98,45.0
585,586,Ghost Rider,"Action,Fantasy,Thriller",Stunt motorcyclist Johnny Blaze gives up his s...,Mark Steven Johnson,"Nicolas Cage, Eva Mendes, Sam Elliott, Matt Long",2007,114,5.2,190673,115.80,35.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
679,680,The Age of Shadows,"Action,Drama,Thriller",Japanese agents close in as members of the Kor...,Jee-woon Kim,"Byung-hun Lee, Yoo Gong, Kang-ho Song, Ji-min Han",2016,140,7.2,2403,0.54,78.0
698,699,Live Free or Die Hard,"Action,Adventure,Thriller",John McClane and a young hacker join forces to...,Len Wiseman,"Bruce Willis, Justin Long, Timothy Olyphant, M...",2007,128,7.2,347567,134.52,69.0
763,764,Eagle Eye,"Action,Mystery,Thriller",Jerry and Rachel are two strangers thrown toge...,D.J. Caruso,"Shia LaBeouf, Michelle Monaghan, Rosario Dawso...",2008,118,6.6,156158,101.11,43.0
770,771,Quantum of Solace,"Action,Adventure,Thriller",James Bond descends into mystery as he tries t...,Marc Forster,"Daniel Craig, Olga Kurylenko, Mathieu Amalric,...",2008,106,6.6,347798,168.37,58.0
771,772,The Assignment,"Action,Crime,Thriller",After waking up and discovering that he has un...,Walter Hill,"Sigourney Weaver, Michelle Rodriguez, Tony Sha...",2016,95,4.5,2043,NaN,34.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
780,781,Unknown,"Action,Mystery,Thriller","A man awakens from a coma, only to discover th...",Jaume Collet-Serra,"Liam Neeson, Diane Kruger, January Jones,Aidan...",2011,113,6.9,218679,61.09,56.0
794,795,Man on a Ledge,"Action,Crime,Thriller",As a police psychologist works to talk down an...,Asger Leth,"Sam Worthington, Elizabeth Banks, Jamie Bell, ...",2012,102,6.6,129252,18.60,40.0
803,804,Jack Ryan: Shadow Recruit,"Action,Drama,Thriller","Jack Ryan, as a young covert CIA analyst, unco...",Kenneth Branagh,"Chris Pine, Kevin Costner, Keira Knightley,Ken...",2014,105,6.2,103681,50.55,57.0
828,829,Grindhouse,"Action,Horror,Thriller",Quentin Tarantino and Robert Rodriguez's homag...,Robert Rodriguez,"Kurt Russell, Rose McGowan, Danny Trejo, Zo Bell",2007,191,7.6,160350,25.03,NaN
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
869,870,Mission: Impossible III,"Action,Adventure,Thriller",Agent Ethan Hunt comes into conflict with a da...,J.J. Abrams,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph...",2006,126,6.9,270429,133.38,66.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
894,895,Rambo,"Action,Thriller,War","In Thailand, John Rambo joins a group of missi...",Sylvester Stallone,"Sylvester Stallone, Julie Benz, Matthew Marsde...",2008,92,7.1,187077,42.72,46.0
916,917,The Expendables 2,"Action,Adventure,Thriller",Mr. Church reunites the Expendables for what s...,Simon West,"Sylvester Stallone, Liam Hemsworth, Randy Cout...",2012,103,6.6,257395,85.02,51.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0
938,939,The Siege of Jadotville,"Action,Drama,Thriller",Irish Commandant Pat Quinlan leads a stand off...,Richie Smyth,"Jamie Dornan, Mark Strong, Jason O'Mara, Micha...",2016,108,7.3,14689,NaN,83.0
944,945,Riddick,"Action,Sci-Fi,Thriller","Left for dead on a sun-scorched planet, Riddic...",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",2013,119,6.4,132098,42.00,49.0
954,955,Death Race,"Action,Sci-Fi,Thriller",Ex-con Jensen Ames is forced by the warden of ...,Paul W.S. Anderson,"Jason Statham, Joan Allen, Tyrese Gibson, Ian ...",2008,105,6.4,173731,36.06,43.0
958,959,3 Days to Kill,"Action,Drama,Thriller",A dying CIA agent trying to reconnect with his...,McG,"Kevin Costner, Hailee Steinfeld, Connie Nielse...",2014,117,6.2,73567,30.69,40.0
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0

In [241]:
#have at most 2 genres
(df.Genre.str.count(',')+1)<3;
#have action among genres
df.Genre.str.contains('action',case=False);
#are combined from action, thriller, adventure only
(df.Genre.str.split(',').map(set)-set(['Action','Thriller',"Adventure"]))==set()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Genre, Length: 1000, dtype: bool

In [248]:
#2 and #3 and #4
#either it is just an action or it is an action +thriller or adventure

In [257]:
df[df.Genre.str.split(',').map(set).apply(lambda x: 
                                          (len(x)<3) &
                                          ("Action" in x) &
                                          ((x-{'Action','Thriller',"Adventure"})==set())
                                      )]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0

Calculate the average number of words in description and actors

In [263]:
df.Description.str.split().map(len).mean()
df.Actors.str.split().map(len).mean()

7.86

In [266]:
df[['Description','Actors']].applymap(lambda x: len(x.split())).mean()

Description    27.921
Actors          7.860
dtype: float64