# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [2]:
# your code here
import os
import pandas as pd

os.chdir('C:\\Users\\Quoc\\Desktop\\ironhack\\github\\data-ft-par-labs\\Labs\\data\\')

In [3]:
data = pd.read_csv('Warehouse_and_Retail_Sales.csv')

data.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

In [4]:
data

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.00,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.00,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.00,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.00,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.00,4.0,0.0
...,...,...,...,...,...,...,...,...,...
128350,2018,2,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.46,59.0,212.0
128351,2018,2,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,9.08,7.0,35.0
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,32.0
128353,2018,2,NaN,BC,BEER CREDIT,REF,0.00,0.0,-35.0
128354,2018,2,NaN,WC,WINE CREDIT,REF,0.00,0.0,-81.0

In [5]:
data.shape

(128355, 9)

In [6]:
data.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,128355.000000,128355.000000,128355.000000,128355.000000,128355.000000
mean,2017.206030,7.079303,6.563037,7.188161,22.624213
std,0.404454,3.645826,28.924944,30.640156,239.693277
min,2017.000000,1.000000,-6.490000,-27.660000,-4996.000000
25%,2017.000000,5.000000,0.000000,0.000000,0.000000
50%,2017.000000,8.000000,0.330000,0.000000,1.000000
75%,2017.000000,10.000000,3.250000,4.000000,4.000000
max,2018.000000,12.000000,1616.600000,1587.990000,16271.750000

In [7]:
#Check to see which columns have missing data

data.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [8]:
import numpy as np
normal=5+2*np.random.randn((1000))
missing=np.zeros(200)
together=np.concatenate((normal,missing))

In [9]:
data.columns[data.isnull().sum()>0]

Index(['SUPPLIER', 'ITEM TYPE'], dtype='object')

In [10]:
#get the # of missing data in each column

null_cols = data.isnull().sum()
null_cols

YEAR                 0
MONTH                0
SUPPLIER            24
ITEM CODE            0
ITEM DESCRIPTION     0
ITEM TYPE            1
RETAIL SALES         0
RETAIL TRANSFERS     0
WAREHOUSE SALES      0
dtype: int64

In [11]:
drop_perc=round(null_cols[null_cols > 0]/data.shape[0]*100,2)
drop_perc

SUPPLIER     0.02
ITEM TYPE    0.00
dtype: float64

In [12]:
drop_cols=drop_perc[drop_perc>60].index
drop_cols

Index([], dtype='object')

In [13]:
data.shape

(128355, 9)

In [14]:
data = data.drop(drop_cols, axis=1)
data.shape

(128355, 9)

In [15]:
data_numeric=data._get_numeric_data().copy()
data_numeric

        YEAR  MONTH  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
0       2017      4          0.00               1.0              0.0
1       2017      4          0.00               1.0              0.0
2       2017      4          0.00               8.0              0.0
3       2017      4          0.00               2.0              0.0
4       2017      4          0.00               4.0              0.0
...      ...    ...           ...               ...              ...
128350  2018      2         66.46              59.0            212.0
128351  2018      2          9.08               7.0             35.0
128352  2018      2          0.00               0.0             32.0
128353  2018      2          0.00               0.0            -35.0
128354  2018      2          0.00               0.0            -81.0

[128355 rows x 5 columns]

In [16]:
cols_interp=data_numeric.columns[data_numeric.isnull().sum()>0]
cols_interp

Index([], dtype='object')

In [17]:
data_numeric[cols_interp]=data_numeric[cols_interp].interpolate(method='linear')

In [18]:
data_numeric.isna().sum().sum()

0

In [19]:
data[cols_interp]=data_numeric[cols_interp].interpolate(method='linear')

In [20]:
data.columns[data.isna().sum()>0]

Index(['SUPPLIER', 'ITEM TYPE'], dtype='object')

In [21]:
fill_cols=data.columns[data.isna().sum()>0]

In [22]:
data[fill_cols]=data[fill_cols].fillna('missing')
print(data.columns[data.isnull().sum()>0])

Index([], dtype='object')

In [23]:
normal=5+2*np.random.randn((1000))
missing=np.zeros(200)
together=np.concatenate((normal,missing))

In [24]:
data=data.fillna(0)
data.shape

(128355, 9)

In [25]:
data[data['RETAIL SALES']==0].shape

(49176, 9)

In [26]:
data.loc[(data['RETAIL SALES']==0)]

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...
128348,2018,2,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.0,0.0,2.0
128349,2018,2,COASTAL BREWING COMPANY LLC,99813,DOMINION OAK BARREL STOUT 1/2K,KEGS,0.0,0.0,2.0
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.0,0.0,32.0
128353,2018,2,missing,BC,BEER CREDIT,REF,0.0,0.0,-35.0
128354,2018,2,missing,WC,WINE CREDIT,REF,0.0,0.0,-81.0

In [27]:
summary=data.describe().T
summary.head()

,count,mean,std,min,25%,50%,75%,max
YEAR,128355.0,2017.206030,0.404454,2017.00,2017.0,2017.00,2017.00,2018.00
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75

In [28]:
summary['IQR']=summary['75%']-summary['25%']
summary.head()

,count,mean,std,min,25%,50%,75%,max,IQR
YEAR,128355.0,2017.206030,0.404454,2017.00,2017.0,2017.00,2017.00,2018.00,0.00
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00,5.00
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60,3.25
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99,4.00
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75,4.00

In [29]:
summary['cutoff']=summary.IQR*1.6
summary.head()

,count,mean,std,min,25%,50%,75%,max,IQR,cutoff
YEAR,128355.0,2017.206030,0.404454,2017.00,2017.0,2017.00,2017.00,2018.00,0.00,0.0
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00,5.00,8.0
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60,3.25,5.2
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99,4.00,6.4
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75,4.00,6.4

In [30]:
summary['lw']=summary['25%']-summary.cutoff
summary['rw']=summary['75%']+summary.cutoff
summary.head()

,count,mean,std,min,25%,50%,75%,max,IQR,cutoff,lw,rw
YEAR,128355.0,2017.206030,0.404454,2017.00,2017.0,2017.00,2017.00,2018.00,0.00,0.0,2017.0,2017.00
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00,5.00,8.0,-3.0,18.00
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60,3.25,5.2,-5.2,8.45
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99,4.00,6.4,-6.4,10.40
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75,4.00,6.4,-6.4,10.40

In [31]:
outliers=pd.DataFrame(columns=data.columns)

In [32]:
outliers.shape

(0, 9)

In [33]:
data1=data.drop(outliers.index)
print('shape after dropping changed:', data1.shape)

shape after dropping changed: (128355, 9)

In [34]:
#datatype before
display(data.YEAR.dtype)

dtype('int64')

In [35]:
data['YEAR'] = data['YEAR'].astype('object')

In [36]:
display(data.YEAR.dtype)

dtype('O')

In [37]:
data['ITEM CODE'].unique()

array(['100200', '100749', '10103', ..., '88400', '99058', '99333'],
      dtype=object)

In [38]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [39]:
select_columns = ['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION', 'ITEM TYPE',
                  'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']
data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [40]:
data.shape
data

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.00,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.00,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.00,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.00,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.00,4.0,0.0
...,...,...,...,...,...,...,...,...,...
128350,2018,2,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.46,59.0,212.0
128351,2018,2,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,9.08,7.0,35.0
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,32.0
128353,2018,2,missing,BC,BEER CREDIT,REF,0.00,0.0,-35.0
128354,2018,2,missing,WC,WINE CREDIT,REF,0.00,0.0,-81.0

In [41]:
clean_data = data.copy()
clean_data

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.00,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.00,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.00,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.00,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.00,4.0,0.0
...,...,...,...,...,...,...,...,...,...
128350,2018,2,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.46,59.0,212.0
128351,2018,2,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,9.08,7.0,35.0
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,32.0
128353,2018,2,missing,BC,BEER CREDIT,REF,0.00,0.0,-35.0
128354,2018,2,missing,WC,WINE CREDIT,REF,0.00,0.0,-81.0

In [42]:

clean_data2 = clean_data.copy()
clean_data3 = clean_data.copy()
clean_data2.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

In [43]:
col_name="SUPPLIER"
supplier_col = clean_data2.pop(col_name)
clean_data2.insert(0, col_name, supplier_col)

clean_data2.head()

,SUPPLIER,YEAR,MONTH,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,ROYAL WINE CORP,2017,4,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,SANTA MARGHERITA USA INC,2017,4,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,JIM BEAM BRANDS CO,2017,4,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,HEAVEN HILL DISTILLERIES INC,2017,4,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,ROYAL WINE CORP,2017,4,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

In [44]:
col_name="ITEM TYPE"
item_col = clean_data3.pop(col_name)
clean_data3.insert(0, col_name, item_col)


clean_data3.head()

,ITEM TYPE,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,WINE,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,0.0,1.0,0.0
1,WINE,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,0.0,1.0,0.0
2,LIQUOR,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,0.0,8.0,0.0
3,LIQUOR,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,0.0,2.0,0.0
4,WINE,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,0.0,4.0,0.0