# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here
html = requests.get(url).content

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# your code here
#using parser lxml to make html readable
soup = BeautifulSoup(html, 'lxml')

In [5]:
names = soup.select('h1.h3.lh-condensed')
names_select = [i.text.strip('\n').strip() for i in soup.select('h1.h3.lh-condensed')]

In [6]:
nicknames = soup.select('p.f4.text-normal')
nicknames_select = [i.text.strip('\n\n').strip() for i in nicknames]

In [7]:
output = dict(zip(names_select, nicknames_select))
output

{'Marc Wouts': 'mwouts',
 'CrazyMax': 'crazy-max',
 'Jirka Borovec': 'Borda',
 'Ross Wightman': 'rwightman',
 'Armin Ronacher': 'mitsuhiko',
 'Vladimir Agafonkin': 'mourner',
 'Olivier Halligon': 'AliSoftware',
 '二货机器人': 'zombieJ',
 'Francesco Biscani': 'bluescarni',
 'Steve Smith': 'ardalis',
 'David Rodríguez': 'deivid-rodriguez',
 'Lovell Fuller': 'lovell',
 'van Hauser': 'vanhauser-thc',
 'Kévin Dunglas': 'dunglas',
 'Nicolas De loof': 'ndeloof',
 'Mislav Marohnić': 'mislav',
 'Evan Wallace': 'evanw',
 'Amaury': 'amaurym',
 'Rico Suter': 'RicoSuter',
 'Filippo Valsorda': 'FiloSottile',
 'Alec Thomas': 'alecthomas',
 'Igor Wojda': 'igorwojda',
 'Gildas Garcia': 'djhi',
 'Hans-Kristian Arntzen': 'HansKristian-Work',
 'Nick Butcher': 'nickbutcher'}

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [9]:
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
trend_repo = soup.select('h1>a')
trending_repo = [i.text.strip(' /\n\n').replace('/\n\n      ', '/') for i in trend_repo]
trending_repo

['willmcgugan /rich',
 'edeng23 /binance-trade-bot',
 'activeloopai /Hub',
 'public-apis /public-apis',
 'ansible /ansible',
 'CorentinJ /Real-Time-Voice-Cloning',
 'huggingface /datasets',
 'TheAlgorithms /Python',
 'PyCQA /pylint',
 'OWASP /CheatSheetSeries',
 'fishtown-analytics /dbt',
 'deepset-ai /haystack',
 'gvanrossum /patma',
 'rwightman /pytorch-image-models',
 'scipy /scipy',
 'CryptoSignal /Crypto-Signal',
 'nsidnev /fastapi-realworld-example-app',
 'stypr /clubhouse-py',
 'celery /celery',
 'open-telemetry /opentelemetry-python',
 'davidsandberg /facenet',
 'd2l-ai /d2l-en',
 'prompt-toolkit /python-prompt-toolkit',
 'mementum /backtrader',
 'mher /flower']

#### Display all the image links from Walt Disney wikipedia page.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [11]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
selection = soup.select('img[src]')
link_images = [i['src'] for i in selection]
link_images

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [13]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
links = [i['href'] for i in soup.select('a[href]')]
links

['#mw-head',
 '#searchInput',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '/wiki/Pythons',
 '/wiki/Python_(genus)',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=5',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=997582414',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Disambiguation_pages_with_short_descriptions',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Main_Page',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=997582414',
 '/w/index.php?title=Python&action=info',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=997582414&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [14]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [15]:
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
# soup.select('div.item_left')
# print(soup.prettify())
# [i['name'] for i in soup.select('a[name]').get_text()]

#### Find a Python list with the top ten FBI's Most Wanted names.

In [16]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [17]:
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
[i.text.strip('\n') for i in soup.select('h3.title')]

['ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'YASER ABDEL SAID']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [18]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [19]:
#getting the date and time columns
soup = BeautifulSoup(requests.get(url).content, 'lxml')
date_time = [i.text.replace('\xa0\xa0\xa0', ' ').split(' ') for i in soup.select('b a')]
dateframe = pd.DataFrame(date_time, columns=['Date', 'Time']).iloc[:-1]

In [20]:
#geting the rest of the columns of interest
table = pd.read_html(url)[3]
cols = [0,1,2,3,8,9,10,12]
df = table.drop(table.columns[cols], axis=1)
df.columns = ['Latitude','Degrees', 'Longitude', 'Degrees', 'Region Name']
df1 = df.iloc[:-3]

In [21]:
#combining both frames to a single dataframe
latest_20_earthquakes = pd.concat([dateframe, df1], axis =1)
latest_20_earthquakes

,Date,Time,Latitude,Degrees,Longitude,Degrees,Region Name
0,2021-02-17,22:53:32.3,35.51,N,3.71,W,STRAIT OF GIBRALTAR
1,2021-02-17,22:49:39.9,23.24,S,171.77,E,SOUTHEAST OF LOYALTY ISLANDS
2,2021-02-17,22:43:34.7,19.64,N,155.81,W,"ISLAND OF HAWAII, HAWAII"
3,2021-02-17,22:43:28.3,35.62,N,117.46,W,SOUTHERN CALIFORNIA
4,2021-02-17,22:36:13.0,21.16,S,68.99,W,"TARAPACA, CHILE"
5,2021-02-17,22:35:14.1,45.65,S,77.49,W,"OFF COAST OF AISEN, CHILE"
6,2021-02-17,22:30:41.0,45.57,N,16.08,E,CROATIA
7,2021-02-17,22:27:56.8,32.75,N,115.82,W,SOUTHERN CALIFORNIA
8,2021-02-17,22:11:04.8,19.20,N,155.49,W,"ISLAND OF HAWAII, HAWAII"
9,2021-02-17,21:43:41.6,37.21,N,3.69,W,SPAIN
10,2021-02-17,21:38:28.5,43.06,N,1.21,W,PYRENEES
11,2021-02-17,21:34:44.7,1.08,N,120.18,E,"MINAHASA, SULAWESI, INDONESIA"
12,2021-02-17,21:22:33.0,37.34,N,8.46,W,PORTUGAL
13,2021-02-17,21:13:14.8,34.09,N,26.19,E,"CRETE, GREECE"
14,2021-02-17,21:04:33.2,44.79,N,112.41,W,WESTERN MONTANA
15,2021-02-17,20:45:10.0,1.24,S,119.80,E,"SULAWESI, INDONESIA"
16,2021-02-17,20:31:23.2,61.48,N,151.47,W,SOUTHERN ALASKA
17,2021-02-17,20:28:52.4,4.28,S,132.96,E,"NEAR S COAST OF PAPUA, INDONESIA"
18,2021-02-17,20:27:32.0,0.32,S,123.06,E,"SULAWESI, INDONESIA"
19,2021-02-17,20:18:31.4,44.12,N,8.02,E,NORTHERN ITALY
20,2021-02-17,20:06:56.0,8.13,S,117.96,E,"SUMBAWA REGION, INDONESIA"
21,2021-02-17,19:58:56.0,0.53,S,123.79,E,"SULAWESI, INDONESIA"
22,2021-02-17,19:56:35.6,17.79,N,66.93,W,PUERTO RICO REGION
23,2021-02-17,19:39:00.2,37.99,N,27.23,E,WESTERN TURKEY
24,2021-02-17,19:38:45.2,37.19,N,3.67,W,SPAIN
25,2021-02-17,19:31:53.5,47.63,N,2.67,W,FRANCE
26,2021-02-17,19:23:42.0,9.43,S,114.07,E,"SOUTH OF BALI, INDONESIA"
27,2021-02-17,19:18:55.0,19.56,S,69.73,W,"TARAPACA, CHILE"
28,2021-02-17,19:02:35.0,2.77,N,98.83,E,"NORTHERN SUMATRA, INDONESIA"
29,2021-02-17,19:01:16.0,2.70,N,98.87,E,"NORTHERN SUMATRA, INDONESIA"
30,2021-02-17,18:58:30.0,35.10,N,137.30,E,"EASTERN HONSHU, JAPAN"
31,2021-02-17,18:51:43.1,37.22,N,3.69,W,SPAIN
32,2021-02-17,18:46:51.5,44.31,N,115.20,W,SOUTHERN IDAHO
33,2021-02-17,18:41:59.0,9.53,S,112.95,E,"SOUTH OF JAVA, INDONESIA"
34,2021-02-17,18:39:48.9,37.21,N,3.71,W,SPAIN
35,2021-02-17,18:38:46.8,22.19,N,121.49,E,TAIWAN REGION
36,2021-02-17,18:38:31.7,37.20,N,3.70,W,SPAIN
37,2021-02-17,18:37:16.7,17.93,N,66.95,W,PUERTO RICO REGION
38,2021-02-17,18:35:35.8,30.87,N,51.45,E,SOUTHERN IRAN
39,2021-02-17,18:21:10.7,44.30,N,115.20,W,SOUTHERN IDAHO
40,2021-02-17,17:54:44.9,37.18,N,3.70,W,SPAIN
41,2021-02-17,17:50:22.9,37.22,N,3.73,W,SPAIN
42,2021-02-17,17:46:16.5,42.03,N,121.67,W,OREGON
43,2021-02-17,17:45:21.0,8.58,S,118.37,E,"SUMBAWA REGION, INDONESIA"
44,2021-02-17,17:44:26.8,19.29,N,155.48,W,"ISLAND OF HAWAII, HAWAII"
45,2021-02-17,17:42:37.1,19.50,N,155.59,W,"ISLAND OF HAWAII, HAWAII"
46,2021-02-17,17:42:04.7,8.58,S,118.29,E,"SUMBAWA REGION, INDONESIA"
47,2021-02-17,17:37:46.4,37.17,N,3.68,W,SPAIN
48,2021-02-17,17:32:35.0,36.73,N,70.76,E,"HINDU KUSH REGION, AFGHANISTAN"
49,2021-02-17,17:29:30.0,37.60,N,141.60,E,"NEAR EAST COAST OF HONSHU, JAPAN"

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [22]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [23]:
# your code here

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [24]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [25]:
# your code here

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [26]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [27]:
soup = BeautifulSoup(requests.get(url).content)
[i.text.strip('\n\n').split() for i in soup.select('div.central-featured-lang')]

[['English', '6', '245', '000+', 'articles'],
 ['日本語', '1', '252', '000+', '記事'],
 ['Deutsch', '2', '534', '000+', 'Artikel'],
 ['Español', '1', '659', '000+', 'artículos'],
 ['Русский', '1', '697', '000+', 'статей'],
 ['Français', '2', '296', '000+', 'articles'],
 ['Italiano', '1', '672', '000+', 'voci'],
 ['中文', '1', '175', '000+', '條目'],
 ['Polski', '1', '454', '000+', 'haseł'],
 ['Português', '1', '055', '000+', 'artigos']]

#### A list with the different kind of datasets available in data.gov.uk.

In [28]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [29]:
soup = BeautifulSoup(requests.get(url).content)
soup.select('li.h3')

[]

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [30]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [31]:
df = pd.read_html(url)[3]
df[:10]

,Rank,Language,Nativespeakersin millions2007 (2010),Percentageof worldpopulation(2007)
0,1,Mandarin (entire branch),935 (955),14.1%
1,2,Spanish,390 (405),5.85%
2,3,English,365 (360),5.52%
3,4,Hindi[a],295 (310),4.46%
4,5,Arabic,280 (295),4.23%
5,6,Portuguese,205 (215),3.08%
6,7,Bengali,200 (205),3.05%
7,8,Russian,160 (155),2.42%
8,9,Japanese,125 (125),1.92%
9,10,Punjabi,95 (100),1.44%

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [32]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [33]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [34]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [35]:
soup = BeautifulSoup(requests.get(url).content)

#list of year released
year_released = [i.text.strip('()') for i in soup.select('span.secondaryInfo')]

#list of movies
x = [i.text.strip(' \n') for i in soup.select('td>a')]
movie_name = [i for i in x if i != '']

#list of directors
y = [i['title'].split(',')[0] for i in soup.select('a[title]')]
director = [i for i in y if '(dir.)' in i]

#list of stars
stars = [i.text for i in soup.select('strong')]

#generating a dataframe
df = pd.DataFrame(list(zip(movie_name, year_released, director, stars)), columns=['Movie_Name', 'Year', 'Director', 'Rating'])
df

,Movie_Name,Year,Director,Rating
0,Les Évadés,1994,Frank Darabont (dir.),9.2
1,Le parrain,1972,Francis Ford Coppola (dir.),9.1
2,"Le parrain, 2ème partie",1974,Francis Ford Coppola (dir.),9.0
3,The Dark Knight : Le Chevalier noir,2008,Christopher Nolan (dir.),9.0
4,12 hommes en colère,1957,Sidney Lumet (dir.),8.9
...,...,...,...,...
245,Drishyam,2015,Nishikant Kamat (dir.),8.0
246,La bataille d'Alger,1966,Gillo Pontecorvo (dir.),8.0
247,Neon Genesis Evangelion: The End of Evangelion,1997,Hideaki Anno (dir.),8.0
248,Trois couleurs: Rouge,1994,Krzysztof Kieslowski (dir.),8.0
249,Mandarines,2013,Zaza Urushadze (dir.),8.0

In [36]:
# print(len(year_released))
# print(len(movie_name))
# print(len(director))
# print(len(stars))

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [37]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [38]:
# your code here

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [39]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: paris

In [40]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [41]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [42]:
soup = BeautifulSoup(requests.get(url).content)

In [43]:
name = [i.text for i in soup.select('h3>a')]
price = [i.text.strip() for i in soup.select('p.price_color')]
stock = [i.text.strip() for i in soup.select('p.instock')]
data =list(zip(name, price, stock))
df = pd.DataFrame(data, columns=['Name', 'Price', 'Stock'])
df

                                     Name   Price     Stock
0                      A Light in the ...  £51.77  In stock
1                      Tipping the Velvet  £53.74  In stock
2                              Soumission  £50.10  In stock
3                           Sharp Objects  £47.82  In stock
4            Sapiens: A Brief History ...  £54.23  In stock
5                         The Requiem Red  £22.65  In stock
6            The Dirty Little Secrets ...  £33.34  In stock
7                 The Coming Woman: A ...  £17.93  In stock
8                     The Boys in the ...  £22.60  In stock
9                         The Black Maria  £52.15  In stock
10  Starving Hearts (Triangular Trade ...  £13.99  In stock
11                  Shakespeare's Sonnets  £20.66  In stock
12                            Set Me Free  £17.46  In stock
13    Scott Pilgrim's Precious Little ...  £52.29  In stock
14                      Rip it Up and ...  £35.02  In stock
15                  Our Band Could Be ...  £57.25  In stock
16                                   Olio  £23.88  In stock
17        Mesaerion: The Best Science ...  £37.59  In stock
18           Libertarianism for Beginners  £51.33  In stock
19                It's Only the Himalayas  £45.17  In stock

In [44]:
# print(len(name))
# print(len(price))
# print(len(stock))