# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Labs/data/Pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [75]:
#mean Legendary
pokemon.loc[pokemon.Legendary==True].Total.mean()

637.3846153846154

In [74]:
#mean Non-Legendary
pokemon.loc[pokemon.Legendary==False].Total.mean()

417.21360544217686

In [73]:
#Std Legendary
pokemon.loc[pokemon.Legendary==True].Total.std()

60.93738905315344

In [72]:
#Std Non-Legendary
pokemon.loc[pokemon.Legendary==False].Total.std()

106.76041745713005

In [17]:
pokemon.loc[pokemon.Legendary==True].Total

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [76]:
#better solution
pokemon.pivot_table(index= 'Legendary', values='Total', aggfunc=['mean','std'] ).round(2)

             mean     std
            Total   Total
Legendary
False      417.21  106.76
True       637.38   60.94

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
from scipy.stats import ttest_ind
ttest_ind(pokemon.loc[pokemon.Legendary==True].Total, pokemon.loc[pokemon.Legendary==False].Total )

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

In [84]:
pokemon.loc[pokemon.Legendary==True].Total

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
given the p value I reject the Null Hypothesis. The difference between the two groups of pokemons are statistically significant.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [25]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
#mean water pokemon
pokemon.loc[pokemon['Type 1']=='Water'].Total.mean()

430.45535714285717

In [28]:
#mean other pokemon
pokemon.loc[pokemon['Type 1']!='Water'].Total.mean()

435.85901162790697

In [30]:
#Std water pokemon
pokemon.loc[pokemon['Type 1']=='Water'].Total.std()

113.18826606431458

In [31]:
#Std other pokemon
pokemon.loc[pokemon['Type 1']!='Water'].Total.std()

121.09168230208066

In [49]:
pokemon['test']=np.where(pokemon['Type 1'].str.contains('Water'),'Water','Non Water')
pokemon.pivot_table(index= 'test', values='Total', aggfunc=['mean','std'])

                 mean         std
                Total       Total
test
Non Water  435.859012  121.091682
Water      430.455357  113.188266

In [55]:
pokemon.groupby(pokemon['Type 1']=="Water")['Total'].agg(['count', 'mean', 'std']).sort_values(['count'], ascending=True).round(2)

        count    mean     std
Type 1
True      112  430.46  113.19
False     688  435.86  121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [32]:
ttest_ind(pokemon.loc[pokemon['Type 1']=='Water'].Total,pokemon.loc[pokemon['Type 1']!='Water'].Total)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
given the p value I accept the Null Hypothesis, saying that there's no difference between the means of Water pokemons and the others.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
from scipy.stats import ttest_rel

In [36]:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
Yes there is a difference between attack and defense given the p-value

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [37]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
There's no difference given the pvalue

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [62]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,test
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Non Water
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Non Water
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Non Water
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Non Water
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Non Water

In [65]:
pokemon.eval('Defense-Attack')

0        0
1        1
2        1
3       23
4       -9
      ...
795     50
796    -50
797    -50
798   -100
799     10
Length: 800, dtype: int64

In [66]:
pokemon['Difference']=pokemon.eval('Attack-Defense')

In [68]:
from scipy.stats import ttest_1samp    
ttest_1samp(pokemon['Difference'],0)
#

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [43]:
ttest_1samp(pokemon['Sp. Def'],pokemon['Sp. Atk'].mean())

Ttest_1sampResult(statistic=-0.9325127525174376, pvalue=0.3513532922386856)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [79]:
cross=pd.crosstab(pokemon.Legendary, pokemon['Type 1']=='Water')

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [82]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency(cross, correction=True)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: