# Chapter Four

In [ ]:
from datetime import datetime, timedelta
import re
def autocorrect(x):
    dlt, period=re.findall(r'(\d+) (.*?) ago',x)[0]
    dlt=int(dlt)
    period=period.rstrip('s')+'s'
    return (datetime.now()-eval('timedelta('+eval('period')+'=dlt)')).strftime('%d/%m/%Y')

# Chapter Five

In [1]:
import numpy as np
import pandas as pd
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [15]:
data['sex']=data['sex'].str.strip()

In [18]:
data.query('sex=="Female"').age.mean()

36.85823043357163

In [20]:
float((data['native-country'] == ' Germany').sum()) / data.shape[0]

0.004207487485028101

In [22]:
ages1 = data[data['salary'] == ' >50K']['age']
ages2 = data[data['salary'] == ' <=50K']['age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

In [23]:
data[data['salary'] == ' >50K']['education'].unique() # No

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

In [33]:
data[(data['race']==' Amer-Indian-Eskimo') & (data['sex']=='Male')].age.max()

82

In [34]:
data[(data['sex'] == 'Male') &
     (data['marital-status'].isin([' Never-married', 
                                   ' Separated', ' Divorced']))]['salary'].value_counts()

 <=50K    7423
 >50K      658
Name: salary, dtype: int64

In [35]:
data[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith(' Married'))]\
    ['salary'].value_counts()

 <=50K    7576
 >50K     5965
Name: salary, dtype: int64

In [36]:
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 0%

In [37]:
pd.crosstab(data['native-country'], data['salary'], 
           values=data['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,...,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,...,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5