In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/blood_pressure.csv')

In [3]:
df

        before       after
0   136.713072   92.432965
1   134.735618  105.022643
2   127.529115   82.242766
3   144.527126   93.607172
4   124.214720  103.212223
..         ...         ...
95  120.302824   85.128581
96  134.806478  106.925426
97  144.919839   83.105975
98  139.673854   87.560306
99  138.389444   99.392115

[100 rows x 2 columns]

In [4]:
from scipy.stats import ttest_rel

In [5]:
ttest_rel(df.before, df.after)

Ttest_relResult(statistic=27.29184176756024, pvalue=7.303035069607835e-48)

In [ ]:
according to the result of the related t-test we can see the following : 
    1 p value is 0. Hence it's below significance level => reject H 0 
    2. t statistics is outside of critical region (27 is outside of any region) 
    therefore we reject the Null Hypothesis
    3. For the 2siided test it is enough. 
    While for 1 sided test since we hve positive value of of statistics we conclude that the value before is higher than the value after

In [6]:
df.mean()

before    136.536953
after      99.236700
dtype: float64

In [7]:
#second approach
df['diff']=df.eval('before-after')

In [8]:
df.head()

       before       after       diff
0  136.713072   92.432965  44.280107
1  134.735618  105.022643  29.712975
2  127.529115   82.242766  45.286349
3  144.527126   93.607172  50.919953
4  124.214720  103.212223  21.002497

In [9]:
ttest_1samp(df['diff'],0)

NameError: name 'ttest_1samp' is not defined

## 2 sample independent t-test

In [10]:
df2=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/ab_test.csv')

In [11]:
df2

        a      b
0    0.27  13.61
1    6.08  21.53
2   13.74   9.23
3    9.70   5.36
4    7.00  12.90
5    4.77  10.83
6    2.56  10.70
7    7.24  15.57
8    7.30  10.42
9    0.86  18.90
10   3.10  23.95
11  10.31   5.70
12  17.42  12.65
13  14.03   9.78
14   9.09  12.83
15  13.29  18.61
16  16.55  12.94
17   8.14   5.85
18  13.99  22.92
19  10.99  21.46
20  18.35   3.11
21   3.34  15.52
22  11.27   1.51
23  16.02  24.00
24   9.47  14.07
25  11.62  11.97
26   6.83   2.31
27  11.57   2.66
28  20.90  14.14
29   1.97  22.63
30  15.67  10.95
31  19.08   0.59
32   4.60  15.14
33   8.21  21.97
34   6.29  20.22
35  16.26  11.13
36  13.51  13.74
37   8.63   7.02
38   2.73   9.94
39   9.07   7.99
40   6.56  20.37
41  13.31   6.46
42   4.08  11.66
43   9.07  18.62
44   6.65  19.49
45   3.73   2.02
46   1.01   8.48
47  14.57  12.62
48   5.20  13.22
49  11.77   4.01

In [14]:
from scipy.stats import ttest_ind

In [20]:
df2.a

0      0.27
1      6.08
2     13.74
3      9.70
4      7.00
5      4.77
6      2.56
7      7.24
8      7.30
9      0.86
10     3.10
11    10.31
12    17.42
13    14.03
14     9.09
15    13.29
16    16.55
17     8.14
18    13.99
19    10.99
20    18.35
21     3.34
22    11.27
23    16.02
24     9.47
25    11.62
26     6.83
27    11.57
28    20.90
29     1.97
30    15.67
31    19.08
32     4.60
33     8.21
34     6.29
35    16.26
36    13.51
37     8.63
38     2.73
39     9.07
40     6.56
41    13.31
42     4.08
43     9.07
44     6.65
45     3.73
46     1.01
47    14.57
48     5.20
49    11.77
Name: a, dtype: float64

In [15]:
ttest_ind(df2.a, df2.b)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [ ]:
Given the pvalue I reject the Null Hypothesis. The difference between 2 options is statistically significant. And given the sign of statistics value I conclude that version b has higher mean than version A

In [16]:
from statsmodels.api import stats

In [17]:
stats.ttest_ind(df2.a, df2.b, alternative='larger')

(-2.6375331812097653, 0.9951434295737763, 98.0)

In [18]:
stats.ttest_ind(df2.a, df2.b, alternative='smaller')

#98 is the degree of freedom (100 - 2 because 2 datasets)
#statsmodel.api is the same but has alternative

(-2.6375331812097653, 0.004856570426223696, 98.0)