In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [6]:
df=pd.read_csv('/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Labs/data/acs2015_county_data.csv')

In [8]:
df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [9]:
df.columns

Index(['CensusId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income',
       'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [ ]:
* We will predict unemployment rate
* CensusID, State, County, since represent an ID 
* total population, gender, citizen should be normalized
I will consider all from totalpop until meancommute

In [10]:
df1=df.loc[:,'TotalPop' : 'MeanCommute'].copy()

In [12]:
df1['Unemployment']

KeyError: 'Unemployment'

In [13]:
df1.dropna(inplace=True)

In [14]:
df1.shape

(3218, 28)

In [15]:
df1.eval('Women/TotalPop')

0       0.515673
1       0.511513
2       0.461718
3       0.465891
4       0.505944
          ...
3215    0.518467
3216    0.497809
3217    0.510391
3218    0.513548
3219    0.517480
Length: 3218, dtype: float64

In [16]:
df1.drop('Men', axis=1, inplace=True)

In [17]:
df1

,TotalPop,Women,Hispanic,White,Black,Native,Asian,Pacific,Citizen,Income,...,Office,Construction,Production,Drive,Carpool,Transit,Walk,OtherTransp,WorkAtHome,MeanCommute
0,55221,28476,2.6,75.8,18.5,0.4,1.0,0.0,40725,51281.0,...,24.2,8.6,17.1,87.5,8.8,0.1,0.5,1.3,1.8,26.5
1,195121,99807,4.5,83.1,9.5,0.6,0.7,0.0,147695,50254.0,...,27.1,10.8,11.2,84.7,8.8,0.1,1.0,1.4,3.9,26.4
2,26932,12435,4.6,46.2,46.7,0.2,0.4,0.0,20714,32964.0,...,23.1,10.8,23.1,83.8,10.9,0.4,1.8,1.5,1.6,24.1
3,22604,10531,2.2,74.5,21.4,0.4,0.1,0.0,17495,38678.0,...,17.8,19.0,23.7,83.2,13.5,0.5,0.6,1.5,0.7,28.8
4,57710,29198,8.6,87.9,1.5,0.3,0.1,0.0,42345,45813.0,...,23.9,13.5,19.9,84.9,11.2,0.4,0.9,0.4,2.3,34.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,56858,29479,96.4,3.4,0.1,0.0,0.0,0.0,43656,16948.0,...,24.7,9.2,14.3,89.1,7.1,0.9,1.2,1.3,0.3,32.0
3216,9130,4545,96.7,2.9,0.0,0.0,0.0,0.0,7085,18104.0,...,18.5,15.7,9.1,69.1,17.8,1.0,10.8,0.0,1.4,14.0
3217,24685,12599,99.7,0.0,0.0,0.0,0.0,0.0,18458,17818.0,...,21.8,13.9,19.7,82.0,11.4,0.1,3.2,0.0,3.3,26.9
3218,36279,18631,99.8,0.2,0.0,0.0,0.1,0.0,27924,15627.0,...,20.7,12.8,14.7,86.0,7.9,0.0,2.3,2.3,1.5,29.5
3219,39474,20427,99.5,0.5,0.0,0.0,0.0,0.0,30661,14708.0,...,26.7,14.2,10.5,84.8,8.5,1.2,1.6,0.7,3.1,24.6

In [18]:
df1.eval('Citizen/TotalPop')

0       0.737491
1       0.756941
2       0.769122
3       0.773978
4       0.733755
          ...
3215    0.767808
3216    0.776013
3217    0.747742
3218    0.769701
3219    0.776739
Length: 3218, dtype: float64

In [20]:
(df1.Unemployment+1).map(np.log).hist()

AttributeError: 'DataFrame' object has no attribute 'Unemployment'