In [2]:
chocolates =('darky','blacky', 'whity')

In [3]:
type (chocolates)

tuple

In [4]:
len(chocolates)

3

In [5]:
for c in chocolates:
    print (c)

darky
blacky
whity

In [8]:
tuple(list(chocolates)+["salty"])    #adding an element to a tuple

('darky', 'blacky', 'whity', 'salty')

In [9]:
chocolates

('darky', 'blacky', 'whity')

In [11]:
copy=chocolates
copy

('darky', 'blacky', 'whity')

In [12]:
i,j,k=chocolates
#tuple unpacking     have to give as many values as there are tuples

In [13]:
print(i)

darky

In [14]:
print(k)

whity

# SETS

In [15]:
st={}

In [16]:
type(st)

dict

In [17]:
st=set()
type(st)

set

In [18]:
lst4=[]
for i in range(20):
    lst4.append(i%2)   #basically this calculates the remainders

In [19]:
lst4

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [20]:
range(20)

range(0, 20)

In [21]:
set(lst4)    #set only contains unique values

{0, 1}

In [22]:
s1={1,2,3,4}
s2={3,4,5,6}

In [27]:
#union 
s1 | s2   #character PIPE

{1, 2, 3, 4, 5, 6}

In [24]:
#intersection
s1 & s2

{3, 4}

In [25]:
s1.intersection(s2)

{3, 4}

In [26]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [28]:
s1 or s2 #this is DIFFERENT in SETS COMPARAISONS because in SETS boolian style where in other situations (normal operations it's normal)

{1, 2, 3, 4}

In [29]:
s1 and s2

{3, 4, 5, 6}

In [30]:
if statement1 or statement2:
    do smth

if stateent1 == True:
    do smth
elif statement2==True:
    do smth

SyntaxError: invalid syntax (<ipython-input-30-c15f9e707235>, line 2)

In [31]:
s1-s2 #its not the arithmetic values but the SET content

{1, 2}

In [33]:
s2-s1

{5, 6}

In [34]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [35]:
s1.difference(s2)

{1, 2}

In [37]:
s1.symmetric_difference(s2)    #union - #intersection

{1, 2, 5, 6}

In [38]:
s3=s1|s2

In [39]:
s3

{1, 2, 3, 4, 5, 6}

In [40]:
s1.issubset(s2)   #checking if s1 is completely in s2, if s1 is a child of s2

False

In [41]:
s1.issubset(s3)

True

In [42]:
s2.issuperset(s1) #checking if s2 is the parent of s1s

False

In [43]:
s3.issuperset(s1)

True

In [44]:
s3.issuperset(s3)

True

In [62]:
txt1="the brown fox is running"
txt2="film2 i good"

In [46]:
lst(txt1)

NameError: name 'lst' is not defined

In [63]:
lst1=[]
for t1 in txt1:
    if t1 in txt2:
        lst1.append(t1)

set(lst1)

{' ', 'f', 'g', 'i', 'o'}

In [64]:
set(txt1)&set(txt2)   #this is the easier way

{' ', 'f', 'g', 'i', 'o'}

In [61]:
#these sets are unordered

In [67]:
st={0,1,'!','2b','b2',25,'gtg'}

In [68]:
st   #this arrangement is logical but

{'!', 0, 1, 25, '2b', 'b2', 'gtg'}

In [69]:
for i in st:     #this is different from above (no order)
    print(i)

0
1
!
2b
gtg
b2
25

In [70]:
st.remove('!')

In [71]:
st

{0, 1, 25, '2b', 'b2', 'gtg'}

In [72]:
st.pop()   #by index      #pop is removing an element and returning its value

0

In [73]:
st

{1, 25, '2b', 'b2', 'gtg'}

In [74]:
## dictionnary

In [75]:
chocolates

('darky', 'blacky', 'whity')

In [76]:
brands=['lindt','tong','rhon']

In [78]:
dct={}
type(dct)

dict

In [79]:
dct={'dark':'lindt'}

In [80]:
dct

{'dark': 'lindt'}

In [81]:
for i in range(len(brands)):    # mix 2 dictionnaries way 1
     dct.update({chocolates[i]:brands[i]})
dct

{'dark': 'lindt', 'darky': 'lindt', 'blacky': 'tong', 'whity': 'rhon'}

In [82]:
dct={}
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]
dct

{'darky': 'lindt', 'blacky': 'tong', 'whity': 'rhon'}

In [83]:
dct['caramel filled']='poulain'

In [84]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain'}

In [85]:
dct['dark']='tong'
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'tong'}

In [86]:
dct['dark']='nestle'
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'nestle'}

In [87]:
dct.update({'dark':'lindtt'})

In [88]:
dct2={0:1,1:2,2:'boo'}

In [89]:
dct.update(dct2)

In [90]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 0: 1,
 1: 2,
 2: 'boo'}

In [92]:
#removing element with key

del dct[0]

In [93]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 1: 2,
 2: 'boo'}

In [94]:
dct.pop(1)    #removing with index

2

In [95]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'boo'}

In [96]:
dct[2]='kinder'

In [97]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder'}

In [99]:
dct[4]='boommmmmm'

In [100]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder',
 4: 'boommmmmm'}

In [101]:
dct['masta']='brahhhh'

In [102]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder',
 4: 'boommmmmm',
 'masta': 'brahhhh'}

In [103]:
dct['good chocolate']=dct.pop('dark')      #change a value by removing a value assigned to a key and assigning a new key to the new value

In [104]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 2: 'kinder',
 4: 'boommmmmm',
 'masta': 'brahhhh',
 'good chocolate': 'lindtt'}

In [1]:
## generators

In [2]:
fruits=['banana','apple','kiwi','pinaple']

In [3]:
#to show a list of fruits which have an 'e'

In [4]:
lst2=[]
for i in fruits:
    if 'e' in i:
        lst2.append(i)
lst2

['apple', 'pinaple']

In [5]:
# the easier way = 

```python
[what to append for iter in iterable if filter_statement == True]
```

SyntaxError: invalid syntax (<ipython-input-5-6fdeb9de7d34>, line 1)

In [6]:
[i for i in fruits if 'e' in i]

['apple', 'pinaple']

In [13]:
#making numbers from 0 - 10 with 0.5 difference



i=0.0
lst2=[]
while i<=10:
    lst2.append(i)
    i+=0.5
lst2

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [15]:
lst2=[]
for i in range(21):
    lst2.append(i/2)
lst2

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [16]:
#we always try to manipulate the numbers to get the numberes list

In [17]:
[i/2 for i in range(21)]

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [18]:
lst_lst=[[0,1,2,3],[1,2,3],['yes','no']]

In [19]:
#flatten this list of lists into a list

In [24]:
[value for lst in lst_lst for value in lst]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [26]:
lst2=[]
for lst in lst_lst:
    for value in lst:
        lst2.append(value)

In [27]:
lst2

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [37]:
for lst in lst_lst:
    if len(lst)==4:
        for element in lst:
            lst2.append(element-1)
    elif len(lst)==3:
        for element in lst:
            lst2.append(element**2)
    else:
        lst2.append(element)

        
lst2
element

3

In [33]:
The final structure of list comprehension is floowing

```python

[what_to_append if condition==True else what_to_append2 for iter in iterable if filter_Statement ==True]
```

SyntaxError: invalid syntax (<ipython-input-33-aa8da21e983e>, line 1)

In [35]:
[element-1 if len(lst)==4 else element**2 if len(lst)==3 else element for lst in lst_lst for element in lst]


#this way, there's no storage of element into memory (so it will be faster than the loop method)

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [36]:
element

3

In [38]:
#list of unique values from lst_lst

lst_lst

[[0, 1, 2, 3], [1, 2, 3], ['yes', 'no']]

In [39]:
lst2=[]
for i in lst_lst:
    for j in i:
        if j not in lst2:
            lst2.append(j)

In [40]:
lst2

[0, 1, 2, 3, 'yes', 'no']

In [41]:
[j for i in lst_lst for j in i]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [42]:
list(set([j for i in lst_lst for j in i]))

[0, 1, 2, 3, 'no', 'yes']

In [43]:
{j for i in lst_lst for j in i}

{0, 1, 2, 3, 'no', 'yes'}

In [45]:
list({j for i in lst_lst for j in i})


# so instead of converting a list into a set and then into a list again, we convert only a set to a list

[0, 1, 2, 3, 'no', 'yes']

In [ ]:
tuple

In [47]:
(j for i in lst_lst for j in i)

In [48]:
tuple(j for i in lst_lst for j in i)

(0, 1, 2, 3, 1, 2, 3, 'yes', 'no')

In [ ]:
dict

In [49]:
lst2 = [j for i in lst_lst for j in i]

In [50]:
lst2

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [51]:
lst2.count(2)

2

In [53]:
dct={}
for i in lst2:
    dct[i]=lst2.count(i)

In [54]:
dct

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

In [56]:
```python
{key:value for iter in iterable if filter_condition==True}
```

SyntaxError: invalid syntax (<ipython-input-56-1a5fd0c15039>, line 1)

In [55]:
{i:lst2.count(i) for i in lst2}

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

In [60]:
## very simple text analyis

In [75]:
txt="""I've been cheated by you since I don't know when So I made up my mind it must come to an end Look at me now will I ever Mamma mia, here I go again
My my, how can I resist you?
Mamma mia, does it show again?
My my, just how much I've missed you
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go?
Mamma mia, even if I say
Bye bye, leave me now or never
Mamma mia, it's a game we play
Bye bye doesn't mean forever

Mamma mia, here I go again
My my, how can I resist you?
Mamma mia, does it show again?
My my, just how much I've missed you
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go
Mamma mia, now I really knowlearn?know"""

In [61]:
#get the frequency of each letter

In [68]:
{letter:txt.count(letter) for letter in txt if letter.strip()}  #strip = to take out the emply

{'I': 4,
 "'": 2,
 'v': 2,
 'e': 14,
 'b': 2,
 'n': 11,
 'c': 3,
 'h': 2,
 'a': 5,
 't': 6,
 'd': 5,
 'y': 3,
 'o': 10,
 'u': 3,
 's': 2,
 'i': 4,
 'k': 3,
 'w': 5,
 'S': 1,
 'm': 6,
 'p': 1,
 'L': 1,
 ',': 1,
 'l': 3,
 'r': 2,
 '?': 1}

In [70]:
# Frequency of each word (dont clean it yet)

In [71]:
txt.split()

["I've",
 'been',
 'cheated',
 'by',
 'you',
 'since',
 'I',
 "don't",
 'know',
 'when',
 'So',
 'I',
 'made',
 'up',
 'my',
 'mind',
 'it',
 'must',
 'come',
 'to',
 'an',
 'end',
 'Look',
 'at',
 'me',
 'now,',
 'will',
 'I',
 'ever',
 'learn?know']

In [76]:
{word:txt.count(word) for word in txt.strip()}

{'I': 16,
 "'": 8,
 'v': 12,
 'e': 74,
 ' ': 131,
 'b': 8,
 'n': 30,
 'c': 9,
 'h': 20,
 'a': 49,
 't': 22,
 'd': 20,
 'y': 30,
 'o': 36,
 'u': 15,
 's': 23,
 'i': 27,
 'k': 6,
 'w': 19,
 'S': 1,
 'm': 38,
 'p': 4,
 'L': 1,
 'l': 11,
 'r': 19,
 'M': 11,
 ',': 16,
 'g': 9,
 '\n': 19,
 '?': 6,
 'j': 2,
 'Y': 2,
 'B': 4,
 'W': 2,
 'f': 2}