## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [49]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [58]:
# Your code here
sample_list_1=[]
    
for i in range(80):
    sample_list_1.extend(random.sample(range(101),1))

print (sample_list_1)
len(sample_list_1)

[20, 7, 66, 45, 71, 86, 42, 53, 59, 93, 83, 53, 15, 11, 18, 2, 31, 18, 55, 56, 24, 30, 53, 79, 13, 95, 71, 75, 38, 21, 39, 58, 19, 32, 3, 71, 80, 75, 7, 59, 97, 80, 59, 14, 48, 17, 99, 94, 82, 74, 21, 100, 84, 5, 23, 68, 78, 42, 12, 100, 66, 61, 80, 72, 23, 53, 76, 42, 80, 53, 68, 100, 75, 9, 61, 42, 6, 82, 50, 90]

80

Help on method sample in module random:

sample(population, k) method of random.Random instance
    Chooses k unique random elements from a population sequence or set.

    Returns a new list containing elements from the population while
    leaving the original population unchanged.  The resulting list is
    in selection order so that all sub-slices will also be valid random
    samples.  This allows raffle winners (the sample) to be partitioned
    into grand prize and second place winners (the subslices).

    Members of the population need not be hashable or unique.  If the
    population contains repeats, then each occurrence is a possible
    selection in the sample.

    To choose a sample in a range of integers, use range as an argument.
    This is especially fast and space efficient for sampling from a
    large population:   sample(range(10000000), 60)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [63]:
# Your code here

set1=[]

i = sample_list_1
print(i)

set1=set(sample_list_1)
type(set1)
len(set1)

#no because in a set there are repetitions

[20, 7, 66, 45, 71, 86, 42, 53, 59, 93, 83, 53, 15, 11, 18, 2, 31, 18, 55, 56, 24, 30, 53, 79, 13, 95, 71, 75, 38, 21, 39, 58, 19, 32, 3, 71, 80, 75, 7, 59, 97, 80, 59, 14, 48, 17, 99, 94, 82, 74, 21, 100, 84, 5, 23, 68, 78, 42, 12, 100, 66, 61, 80, 72, 23, 53, 76, 42, 80, 53, 68, 100, 75, 9, 61, 42, 6, 82, 50, 90]

54

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [75]:
# Your code here
from collections import Counter

sample_list_2 = []

sample_list_2 = random.sample(range(101),80)



c= Counter(sample_list_2)
print(c)

Counter({77: 1, 48: 1, 87: 1, 93: 1, 5: 1, 37: 1, 94: 1, 55: 1, 35: 1, 86: 1, 6: 1, 90: 1, 9: 1, 0: 1, 82: 1, 33: 1, 47: 1, 95: 1, 65: 1, 3: 1, 76: 1, 21: 1, 60: 1, 31: 1, 1: 1, 68: 1, 46: 1, 53: 1, 88: 1, 75: 1, 45: 1, 25: 1, 41: 1, 19: 1, 43: 1, 15: 1, 69: 1, 83: 1, 70: 1, 29: 1, 10: 1, 24: 1, 59: 1, 71: 1, 42: 1, 40: 1, 74: 1, 67: 1, 11: 1, 51: 1, 27: 1, 30: 1, 98: 1, 85: 1, 91: 1, 89: 1, 14: 1, 84: 1, 34: 1, 96: 1, 56: 1, 66: 1, 7: 1, 99: 1, 20: 1, 58: 1, 28: 1, 13: 1, 39: 1, 52: 1, 79: 1, 8: 1, 61: 1, 23: 1, 50: 1, 64: 1, 49: 1, 63: 1, 73: 1, 62: 1})

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [85]:
# Your code here
set2=sample_list_2
set2=set(set2)


print(set2)
print("")
print("the length of set2 is ",len(set2))
type(set2)

#no repetition so the length of the set is the same

{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 98, 99}

the length of set2 is  80

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [90]:
# Your code here
set3= set1-set2
print(set3)
len(set3)

{32, 97, 2, 100, 38, 72, 12, 78, 80, 17, 18}

11

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [92]:
# Your code here
set4=set2-set1
print(set4)
len(set4)

{0, 1, 8, 10, 25, 27, 28, 29, 33, 34, 35, 37, 40, 41, 43, 46, 47, 49, 51, 52, 60, 62, 63, 64, 65, 67, 69, 70, 73, 77, 85, 87, 88, 89, 91, 96, 98}

37

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [94]:
# Your code here
set5=set1&set2
print(set5)
len(set5)

{3, 5, 6, 7, 9, 11, 13, 14, 15, 19, 20, 21, 23, 24, 30, 31, 39, 42, 45, 48, 50, 53, 55, 56, 58, 59, 61, 66, 68, 71, 74, 75, 76, 79, 82, 83, 84, 86, 90, 93, 94, 95, 99}

43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [101]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

total=len(set3)+len(set4)+2*len(set5)
print("the total number of samples",total)

54
80
11
37
43
the total number of samples 134

#### Create an empty set called `set6`.

In [102]:
# Your code here
set6=[]
set6=set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [107]:
# Your code here
set6.update(set3,set5)
print(set6)
len(set6)

{2, 3, 5, 6, 7, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 30, 31, 32, 38, 39, 42, 45, 48, 50, 53, 55, 56, 58, 59, 61, 66, 68, 71, 72, 74, 75, 76, 78, 79, 80, 82, 83, 84, 86, 90, 93, 94, 95, 97, 99, 100}

54

#### Check if `set1` and `set6` are equal.

In [111]:
# Your code here
print(set1.issubset(set6))
set6.issubset(set1)

True

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [113]:
# Your code here
print(set1.issuperset(set2))

set3.issubset(set1)

False

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [118]:
# Your code here
a=set3|set4|set5
print(a)
b=set1|set2
print(b)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [120]:
# Your code here
set1.pop()

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [125]:
# Your code here

del set1[1]

TypeError: 'set' object doesn't support item deletion