## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), k=80)
doubles = []

print(sample_list_1)
print("Length is:",len(sample_list_1))

[5, 46, 17, 27, 50, 78, 48, 61, 18, 21, 72, 33, 36, 83, 30, 41, 55, 3, 38, 4, 89, 0, 43, 40, 90, 47, 73, 25, 19, 81, 29, 60, 20, 37, 15, 98, 67, 42, 56, 53, 68, 34, 1, 75, 31, 11, 96, 71, 35, 79, 66, 94, 64, 74, 93, 13, 6, 12, 63, 62, 26, 80, 82, 91, 51, 24, 76, 69, 28, 16, 84, 2, 44, 45, 85, 70, 8, 14, 10, 59]
Length is: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

print(set1)
print("Length is:",len(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 89, 90, 91, 93, 94, 96, 98}
Length is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for i in range(0,80):
    x = random.randint(1,100)
    sample_list_2.append(x)
    
    
print(sample_list_2)
print(len(sample_list_2))

[40, 55, 20, 76, 58, 60, 20, 90, 23, 27, 79, 24, 82, 88, 11, 99, 52, 93, 41, 49, 51, 7, 46, 43, 25, 27, 8, 26, 69, 6, 56, 85, 88, 60, 23, 27, 46, 75, 87, 28, 76, 52, 11, 56, 47, 8, 74, 86, 3, 42, 90, 6, 10, 60, 27, 29, 51, 86, 7, 44, 78, 56, 65, 74, 65, 84, 23, 66, 5, 79, 52, 96, 27, 2, 80, 76, 2, 88, 16, 30]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
doubles = []

print(set2)
print("Length:", len(set2))

{2, 3, 5, 6, 7, 8, 10, 11, 16, 20, 23, 24, 25, 26, 27, 28, 29, 30, 40, 41, 42, 43, 44, 46, 47, 49, 51, 52, 55, 56, 58, 60, 65, 66, 69, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 87, 88, 90, 93, 96, 99}
Length: 51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
set3 = set1 - set2
 
print(set3)

{4, 12, 13, 14, 15, 17, 18, 33, 34, 35, 36, 37, 38, 45, 48, 50, 53, 62, 63, 64, 67, 68, 70, 72, 73, 83, 94, 98}

In [35]:
set4 = set2 - set1 

print(set4)

{65, 99, 69, 7, 41, 11, 79, 49, 51, 52, 86, 23, 87, 58, 88, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [7]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 5, 6, 8, 10, 11, 16, 20, 24, 25, 26, 27, 28, 29, 30, 40, 41, 42, 43, 44, 46, 47, 51, 55, 56, 60, 66, 69, 74, 75, 76, 78, 79, 80, 82, 84, 85, 90, 93, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [8]:
#??????????????????
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
51
39
10
41

#### Create an empty set called `set6`.

In [33]:
set6 = {}

set6

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [10]:
set6.update(set3,set5) 

print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 89, 90, 91, 93, 94, 96, 98}

#### Check if `set1` and `set6` are equal.

In [11]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [12]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
x = set3.union(set4,set5)
y = set1.union(set2)

x == y

True

#### Using the `pop` method, remove the first element from `set1`.

In [27]:
print(set1)

h = set1.pop()

print(set1)
print(h)

{1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 89, 90, 91, 93, 94, 96, 98}
{2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 89, 90, 91, 93, 94, 96, 98}
1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [32]:
list_to_remove = {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
set1 = set1 - list_to_remove

print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 90, 93, 94, 96, 98}