In [4]:
import pandas as pd

In [ ]:

import os
os.chdir(r'/Users/teahupoo20/Documents/IRONHACK/Python/czech')

In [2]:
os.listdir()

['berka.pdf',
 'account.asc',
 'card.asc',
 'order.asc',
 'disp.asc',
 'loan.asc',
 'client.asc',
 'district.asc',
 'trans.asc']

In [7]:
df=pd.read_csv('account.csv', sep=';')

In [8]:
df

      account_id  district_id         frequency    date
0            576           55  POPLATEK MESICNE  930101
1           3818           74  POPLATEK MESICNE  930101
2            704           55  POPLATEK MESICNE  930101
3           2378           16  POPLATEK MESICNE  930101
4           2632           24  POPLATEK MESICNE  930102
...          ...          ...               ...     ...
4495         124           55  POPLATEK MESICNE  971228
4496        3958           59  POPLATEK MESICNE  971228
4497         777           30  POPLATEK MESICNE  971228
4498        1573           63  POPLATEK MESICNE  971229
4499        3276            1  POPLATEK MESICNE  971229

[4500 rows x 4 columns]

In [9]:
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

In [16]:
username='root'
server='localhost'
database='ironhack'
password=getpass()

········

In [44]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@{server}/finance')

In [45]:
ddf={i[:-4]:pd.read_csv(i, sep=';') for i in os.listdir() if i.endswith('.asc')}

In [41]:
ddf.keys()

dict_keys(['card', 'order', 'disp', 'loan', 'client', 'district', 'trans'])

In [46]:

for i,j in ddf.items():
    j.to_sql(i, engine, index=False)
    print(i, 'is done')

card is done
order is done
disp is done
loan is done
client is done
district is done
trans is done

In [23]:
df.to_csv('finance', index=False)

In [24]:
df.to_sql('finance', engine, if_exists='replace', index=False)