In [2]:
chocolates =('darky','blacky', 'whity')

In [3]:
type (chocolates)

tuple

In [4]:
len(chocolates)

3

In [5]:
for c in chocolates:
    print (c)

darky
blacky
whity

In [8]:
tuple(list(chocolates)+["salty"])    #adding an element to a tuple

('darky', 'blacky', 'whity', 'salty')

In [9]:
chocolates

('darky', 'blacky', 'whity')

In [11]:
copy=chocolates
copy

('darky', 'blacky', 'whity')

In [12]:
i,j,k=chocolates
#tuple unpacking     have to give as many values as there are tuples

In [13]:
print(i)

darky

In [14]:
print(k)

whity

# SETS

In [15]:
st={}

In [16]:
type(st)

dict

In [17]:
st=set()
type(st)

set

In [18]:
lst4=[]
for i in range(20):
    lst4.append(i%2)   #basically this calculates the remainders

In [19]:
lst4

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [20]:
range(20)

range(0, 20)

In [21]:
set(lst4)    #set only contains unique values

{0, 1}

In [22]:
s1={1,2,3,4}
s2={3,4,5,6}

In [27]:
#union 
s1 | s2   #character PIPE

{1, 2, 3, 4, 5, 6}

In [24]:
#intersection
s1 & s2

{3, 4}

In [25]:
s1.intersection(s2)

{3, 4}

In [26]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [28]:
s1 or s2 #this is DIFFERENT in SETS COMPARAISONS because in SETS boolian style where in other situations (normal operations it's normal)

{1, 2, 3, 4}

In [29]:
s1 and s2

{3, 4, 5, 6}

In [30]:
if statement1 or statement2:
    do smth

if stateent1 == True:
    do smth
elif statement2==True:
    do smth

SyntaxError: invalid syntax (<ipython-input-30-c15f9e707235>, line 2)

In [31]:
s1-s2 #its not the arithmetic values but the SET content

{1, 2}

In [33]:
s2-s1

{5, 6}

In [34]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [35]:
s1.difference(s2)

{1, 2}

In [37]:
s1.symmetric_difference(s2)    #union - #intersection

{1, 2, 5, 6}

In [38]:
s3=s1|s2

In [39]:
s3

{1, 2, 3, 4, 5, 6}

In [40]:
s1.issubset(s2)   #checking if s1 is completely in s2, if s1 is a child of s2

False

In [41]:
s1.issubset(s3)

True

In [42]:
s2.issuperset(s1) #checking if s2 is the parent of s1s

False

In [43]:
s3.issuperset(s1)

True

In [44]:
s3.issuperset(s3)

True

In [62]:
txt1="the brown fox is running"
txt2="film2 i good"

In [46]:
lst(txt1)

NameError: name 'lst' is not defined

In [63]:
lst1=[]
for t1 in txt1:
    if t1 in txt2:
        lst1.append(t1)

set(lst1)

{' ', 'f', 'g', 'i', 'o'}

In [64]:
set(txt1)&set(txt2)   #this is the easier way

{' ', 'f', 'g', 'i', 'o'}

In [61]:
#these sets are unordered

In [67]:
st={0,1,'!','2b','b2',25,'gtg'}

In [68]:
st   #this arrangement is logical but

{'!', 0, 1, 25, '2b', 'b2', 'gtg'}

In [69]:
for i in st:     #this is different from above (no order)
    print(i)

0
1
!
2b
gtg
b2
25

In [70]:
st.remove('!')

In [71]:
st

{0, 1, 25, '2b', 'b2', 'gtg'}

In [72]:
st.pop()   #by index      #pop is removing an element and returning its value

0

In [73]:
st

{1, 25, '2b', 'b2', 'gtg'}

In [74]:
## dictionnary

In [75]:
chocolates

('darky', 'blacky', 'whity')

In [76]:
brands=['lindt','tong','rhon']

In [78]:
dct={}
type(dct)

dict

In [79]:
dct={'dark':'lindt'}

In [80]:
dct

{'dark': 'lindt'}

In [81]:
for i in range(len(brands)):    # mix 2 dictionnaries way 1
     dct.update({chocolates[i]:brands[i]})
dct

{'dark': 'lindt', 'darky': 'lindt', 'blacky': 'tong', 'whity': 'rhon'}

In [82]:
dct={}
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]
dct

{'darky': 'lindt', 'blacky': 'tong', 'whity': 'rhon'}

In [83]:
dct['caramel filled']='poulain'

In [84]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain'}

In [85]:
dct['dark']='tong'
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'tong'}

In [86]:
dct['dark']='nestle'
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'nestle'}

In [87]:
dct.update({'dark':'lindtt'})

In [88]:
dct2={0:1,1:2,2:'boo'}

In [89]:
dct.update(dct2)

In [90]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 0: 1,
 1: 2,
 2: 'boo'}

In [92]:
#removing element with key

del dct[0]

In [93]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 1: 2,
 2: 'boo'}

In [94]:
dct.pop(1)    #removing with index

2

In [95]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'boo'}

In [96]:
dct[2]='kinder'

In [97]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder'}

In [99]:
dct[4]='boommmmmm'

In [100]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder',
 4: 'boommmmmm'}

In [101]:
dct['masta']='brahhhh'

In [102]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 'dark': 'lindtt',
 2: 'kinder',
 4: 'boommmmmm',
 'masta': 'brahhhh'}

In [103]:
dct['good chocolate']=dct.pop('dark')      #change a value by removing a value assigned to a key and assigning a new key to the new value

In [104]:
dct

{'darky': 'lindt',
 'blacky': 'tong',
 'whity': 'rhon',
 'caramel filled': 'poulain',
 2: 'kinder',
 4: 'boommmmmm',
 'masta': 'brahhhh',
 'good chocolate': 'lindtt'}